<template>
  <div class="dashboard-container">
    <component :is="currentRole" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import adminDashboard from './admin'
import editorDashboard from './editor'
import {getRole} from '@/utils/auth'

export default {
  name: 'Dashboard',
  components: { adminDashboard },
  data() {
    return {
      currentRole: 'adminDashboard'
    }
  },
  computed: {
    ...mapGetters([
      'roles'
    ])
  },
  created() {
    let role = getRole()
    if(role === "ADMIN" || role === "STAFF")
      this.$router.push("/components/country")
    else
      this.$router.push("/reports/report")
  }
}
</script>
