<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="listQuery.key" placeholder="ProcessCode" style="width: 500px;padding-right:20px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-button v-waves class="filter-item" type="primary" icon="fas fa-search" @click="handleFilter">
        Search
      </el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="fas fa-edit" @click="handleCreate">
        Add
      </el-button>
      <el-button v-waves :loading="downloadLoading" class="filter-item" type="primary" icon="fas fa-download" @click="handleDownload">
        Export
      </el-button>
      <el-checkbox v-model="showDelete" class="filter-item" style="margin-left:15px;" @change="viewDelete()">
        View deleted
      </el-checkbox>
    </div>

    <el-table
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column label="ID" prop="id" align="center" width="60">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.convertId }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Domain Code" align="center" width="80">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.domainCode }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Process Code" align="center" width="80">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.processCode }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Description" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.description }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Input Dir" align="center" width="80">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.inputDir }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Output Dir" align="center" width="95">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.outputDir }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Backup Dir" align="center" width="95">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.backupDir }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Error Dir" align="center" width="90">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.errorDir }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Min Seq" align="center" width="90">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.minSeq }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Max Seq" align="center" width="90">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.maxSeq }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Cdr FileName Template" align="center" width="115">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.cdrFileNameTemplate }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Stop When Error" align="center" width="95">
        <template slot-scope="{row}">
          <span v-if="row.convertProcessParam.stopWhenError">True</span>
          <span v-if="!row.convertProcessParam.stopWhenError">False</span>
        </template>
      </el-table-column>
      <el-table-column label="Warning Type" align="center" width="85">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.warningType }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Delay Time" align="center" width="65">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.delayTime }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Log File Path" align="center" width="110">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.logFilePath }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Cdr Type" align="center" width="85">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.cdrType }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Convert Class Name" align="center" width="120">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.convertClassName }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Convert Param Path" align="center" width="125">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.convertParamPath }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Txt FileName Template" align="center" width="110">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.txtFileNameTemplate }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Time Type" align="center" width="90">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.timeType }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Time Delay" align="center" width="95">
        <template slot-scope="{row}">
          <span>{{ row.convertProcessParam.timeDelay }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Is Backup" align="center" width="90">
        <template slot-scope="{row}">
          <span v-if="row.convertProcessParam.isBackup">True</span>
          <span v-if="!row.convertProcessParam.isBackup">False</span>
        </template>
      </el-table-column>
      <el-table-column label="Switch Name" align="center" width="110">
        <template slot-scope="{row}">
          <span>{{ row.switchName }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Is Delete" align="center" width="80">
        <template slot-scope="{row}">
          <span v-if="row.convertProcessParam.isDelete">True</span>
          <span v-if="!row.convertProcessParam.isDelete">False</span>
        </template>
      </el-table-column>

      <el-table-column label="Actions" align="center" width="230" class-name="small-padding fixed-width">
        <template slot-scope="{row,$index}">
          <el-button v-if="!row.convertProcessParam.isDelete" type="primary" size="mini" @click="handleUpdate(row)">
            Edit
          </el-button>

          <el-popconfirm
            v-if="!row.convertProcessParam.isDelete"
            confirm-button-text="OK"
            cancel-button-text="No, Thanks"
            icon="fas fa-info-circle"
            icon-color="red"
            title="Are you sure to delete this?"
            @onConfirm="handleDelete(row,$index,1)"
          >
            <el-button slot="reference" size="mini" type="danger">
              Delete
            </el-button>
          </el-popconfirm>

          <el-popconfirm
            v-if="row.convertProcessParam.isDelete"
            confirm-button-text="OK"
            cancel-button-text="No, Thanks"
            icon="fas fa-info-circle"
            icon-color="red"
            title="Are you sure to restore this?"
            @onConfirm="handleDelete(row,$index,0)"
          >
            <el-button slot="reference" size="mini" type="danger">
              Restore
            </el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible" top center width="90%">
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="left" label-width="180px" style="width: 90%; margin-left:50px;">
        <el-row :gutter="20">
          <el-col :span="12">
            <el-form-item v-show="dialogStatus === 'update'" label="ID" prop="convertId">
              <el-input v-model="temp.convertId" :disabled="true" />
            </el-form-item>
            <el-form-item label="Domain Code" prop="domainCode">
              <el-input v-model="temp.domainCode" />
            </el-form-item>
            <el-form-item label="Process Code" prop="processCode">
              <el-input v-model="temp.processCode" />
            </el-form-item>
            <el-form-item label="Description" prop="description">
              <el-input v-model="temp.description" />
            </el-form-item>
            <el-form-item label="Input Dir" prop="inputDir">
              <el-input v-model="temp.inputDir" />
            </el-form-item>
            <el-form-item label="Output Dir" prop="outputDir">
              <el-input v-model="temp.outputDir" />
            </el-form-item>
            <el-form-item label="Backup Dir" prop="backupDir">
              <el-input v-model="temp.backupDir" />
            </el-form-item>
            <el-form-item label="Error Dir" prop="errorDir">
              <el-input v-model="temp.errorDir" />
            </el-form-item>
            <el-form-item label="Min Seq" prop="minSeq">
              <el-input v-model="temp.minSeq" />
            </el-form-item>
            <el-form-item label="Max Seq" prop="maxSeq">
              <el-input v-model="temp.maxSeq" />
            </el-form-item>
            <el-form-item label="Cdr FileName Template" prop="cdrFileNameTemplate">
              <el-input v-model="temp.cdrFileNameTemplate" />
            </el-form-item>
            <el-form-item label="Stop When Error" prop="stopWhenError">
              <el-select v-model="temp.stopWhenError" class="filter-item" placeholder="Please select">
                <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Warning Type" prop="warningType">
              <el-input v-model="temp.warningType" />
            </el-form-item>
            <el-form-item label="Delay Time" prop="delayTime">
              <el-input v-model="temp.delayTime" />
            </el-form-item>
            <el-form-item label="Log File Path" prop="logFilePath">
              <el-input v-model="temp.logFilePath" />
            </el-form-item>
            <el-form-item label="Cdr Type" prop="cdrType">
              <el-input v-model="temp.cdrType" />
            </el-form-item>
            <el-form-item label="Convert Class Name" prop="convertClassName">
              <el-input v-model="temp.convertClassName" />
            </el-form-item>
            <el-form-item label="Convert Param Path" prop="convertParamPath">
              <el-input v-model="temp.convertParamPath" />
            </el-form-item>
            <el-form-item label="Txt FileName Template" prop="txtFileNameTemplate">
              <el-input v-model="temp.txtFileNameTemplate" />
            </el-form-item>
            <el-form-item label="Time Type" prop="timeType">
              <el-input v-model="temp.timeType" />
            </el-form-item>
            <el-form-item label="Time Delay" prop="timeDelay">
              <el-input v-model="temp.timeDelay" />
            </el-form-item>
            <el-form-item label="Is Backup" prop="isBackup">
              <el-select v-model="temp.isBackup" class="filter-item" placeholder="Please select">
                <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
              </el-select>
            </el-form-item>
            <el-form-item label="Switch Name" prop="switchId">
              <el-autocomplete
                v-model="nameTemp.switchName"
                clearable
                :fetch-suggestions="querySearchAsync"
                placeholder="Please input switch name"
                @select="handleSelect"
              />
            </el-form-item>
            <el-form-item label="Is Delete" prop="isDelete">
              <el-select v-model="temp.isDelete" class="filter-item" placeholder="Please select">
                <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          Confirm
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { fetctConvertParams, createConvertParam, updateConvertParam, deleteConvertParam } from '@/api/convert-process-param'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
import { fetctSwitchBoards } from '@/api/switchboard'

const deleteOptions = [
  { key: 1, display_name: 'True' },
  { key: 0, display_name: 'False' }
]

export default {
  name: 'Country',
  components: { Pagination },
  directives: { waves },
  data() {
    return {
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        deleted: 0,
        page: 1,
        limit: 10,
        key: null
      },
      deleteOptions,
      showDelete: false,
      temp: {
        convertId: undefined,
        domainCode: '',
        processCode: '',
        description: '',
        inputDir: '',
        outputDir: '',
        backupDir: '',
        errorDir: '',
        minSeq: 0,
        maxSeq: 0,
        cdrFileNameTemplate: '',
        stopWhenError: 0,
        warningType: 0,
        delayTime: 0,
        logFilePath: '',
        cdrType: 0,
        convertClassName: '',
        convertParamPath: '',
        txtFileNameTemplate: '',
        timeType: 0,
        timeDelay: 0,
        isBackup: 0,
        switchId: undefined,
        isDelete: 0
      },
      nameTemp: {
        switchName: ''
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      downloadLoading: false,
      rules: {
        // domainCode: [
        //   { required: true, message: 'domainCode is required', trigger: 'blur' }
        // ],
        processCode: [
          { required: true, message: 'processCode is required', trigger: 'blur' }
        ],
        description: [
          { required: true, message: 'description is required', trigger: 'blur' }
        ],
        inputDir: [
          { required: true, message: 'inputDir is required', trigger: 'blur' }
        ],
        outputDir: [
          { required: true, message: 'outputDir is required', trigger: 'blur' }
        ],
        backupDir: [
          { required: true, message: 'backupDir is required', trigger: 'blur' }
        ],
        errorDir: [
          { required: true, message: 'errorDir is required', trigger: 'blur' }
        ],
        minSeq: [
          { required: true, message: 'minSeq is required', trigger: 'blur' }
        ],
        maxSeq: [
          { required: true, message: 'maxSeq is required', trigger: 'blur' }
        ],
        cdrFileNameTemplate: [
          { required: true, message: 'cdrFileNameTemplate is required', trigger: 'blur' }
        ],
        stopWhenError: [
          { required: true, message: 'stopWhenError is required', trigger: 'blur' }
        ],
        warningType: [
          { required: true, message: 'warningType is required', trigger: 'blur' }
        ],
        delayTime: [
          { required: true, message: 'delayTime is required', trigger: 'blur' }
        ],
        logFilePath: [
          { required: true, message: 'logFilePath is required', trigger: 'blur' }
        ],
        cdrType: [
          { required: true, message: 'cdrType is required', trigger: 'blur' }
        ],
        convertClassName: [
          { required: true, message: 'convertClassName is required', trigger: 'blur' }
        ],
        convertParamPath: [
          { required: true, message: 'convertParamPath is required', trigger: 'blur' }
        ],
        txtFileNameTemplate: [
          { required: true, message: 'txtFileNameTemplate is required', trigger: 'blur' }
        ],
        timeType: [
          { required: true, message: 'timeType is required', trigger: 'blur' }
        ],
        timeDelay: [
          { required: true, message: 'timeDelay is required', trigger: 'blur' }
        ],
        isBackup: [
          { required: true, message: 'isBackup is required', trigger: 'blur' }
        ],
        // switchId: [
        //   { required: true, message: 'switchId is required', trigger: 'change' }
        // ],
        isDelete: [
          { required: true, message: 'isDelete is required', trigger: 'change' }
        ]
      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    querySearchAsync(queryString, cb) {
      const query = {
        page: 1,
        limit: 5,
        deleted: 0,
        key: queryString
      }
      let results = []
      let listSwitchBoards = []
      fetctSwitchBoards(query).then(response => {
        listSwitchBoards = response.data.items
        results = listSwitchBoards.map(s => {
          return {
            value: s.switchBoard.switchName,
            key: s.switchBoard.switchId
          }
        })
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 100)
      })
    },
    handleSelect(item) {
      console.log(item.key)
      this.temp.switchId = item.key
    },
    getList() {
      this.listLoading = true
      fetctConvertParams(this.listQuery).then(response => {
        this.list = response.data.items
        this.total = response.data.total
        console.log(this.list)
        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false
        }, 0 * 1000)
      })
    },
    resetTemp() {
      this.nameTemp = {
        switchName: ''
      }
      this.temp = {
        convertId: undefined,
        domainCode: '',
        processCode: '',
        description: '',
        inputDir: '',
        outputDir: '',
        backupDir: '',
        errorDir: '',
        minSeq: 0,
        maxSeq: 0,
        cdrFileNameTemplate: '',
        stopWhenError: 0,
        warningType: 0,
        delayTime: 0,
        logFilePath: '',
        cdrType: 0,
        convertClassName: '',
        convertParamPath: '',
        txtFileNameTemplate: '',
        timeType: 0,
        timeDelay: 0,
        isBackup: 0,
        switchId: undefined,
        isDelete: 0
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.temp.isDelete = 0
          this.temp.convertId = 0
          createConvertParam(this.temp).then(() => {
            const row = {
              convertProcessParam: this.temp,
              switchName: this.nameTemp.switchName
            }
            this.list.unshift(row)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
            this.getList()
          })
        } else {
          console.log('Not valid')
        }
      })
    },
    handleUpdate(row) {
      const obj = Object.assign({}, row)
      this.temp = obj.convertProcessParam
      this.nameTemp.switchName = obj.switchName
      // if (this.nameTemp.switchName === null){
      //   this.nameTemp.switchName = "Id " + this.temp.switchId + " is not mapped"
      // }
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          updateConvertParam(tempData).then(() => {
            const index = this.list.findIndex(v => v.convertProcessParam.convertId === this.temp.convertId)
            const row = {
              convertProcessParam: this.temp,
              switchName: this.nameTemp.switchName
            }
            this.list.splice(index, 1, row)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        } else {
          console.log('Not valid')
        }
      })
    },
    handleDelete(row, index, deleted) {
      deleteConvertParam(row.convertProcessParam.convertId, deleted).then(() => {
        if (deleted) {
          this.$notify({
            title: 'Success',
            message: 'Delete Successfully',
            type: 'success',
            duration: 2000
          })
        } else {
          this.$notify({
            title: 'Success',
            message: 'Restore Successfully',
            type: 'success',
            duration: 2000
          })
        }

        this.list.splice(index, 1)
      })
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['Convert Id', 'Domain Code', 'Process Code', 'Description', 'Input Dir', 'Output Dir', 'Backup Dir', 'Error Dir',
          'Min Seq', 'Max Seq', 'Cdr FileName Template', 'Stop When Error', 'Warning Type', 'Delay Time', 'Log File Path', 'Cdr Type', 'Convert Class Name',
          'Convert Param Path', 'Txt FileName Template', 'TimeType', 'TimeDelay', 'Is Backup', 'Switch Id', 'Is Delete']
        const filterVal = ['convertId', 'domainCode', 'processCode', 'description', 'inputDir', 'outputDir', 'backupDir', 'errorDir',
          'minSeq', 'maxSeq', 'cdrFileNameTemplate', 'stopWhenError', 'warningType', 'delayTime', 'logFilePath', 'cdrType', 'convertClassName',
          'convertParamPath', 'txtFileNameTemplate', 'timeType', 'timeDelay', 'isBackup', 'switchId', 'isDelete']
        const data = this.formatJson(filterVal)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'convert_process_params'
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal) {
      return this.list.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v['convertProcessParam'][j])
        } else {
          return v['convertProcessParam'][j]
        }
      }))
    },
    viewDelete: function() {
      this.listQuery.deleted = this.showDelete ? 1 : 0
      this.getList()
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    }
  }
}
</script>
