<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="listQuery.key" placeholder="ProcessCode" style="width: 500px;padding-right:20px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-button v-waves class="filter-item" type="primary" icon="fas fa-search" @click="handleFilter">
        Search
      </el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="fas fa-edit" @click="handleCreate">
        Add
      </el-button>
      <el-button v-waves :loading="downloadLoading" class="filter-item" type="primary" icon="fas fa-download" @click="handleDownload">
        Export
      </el-button>
      <el-checkbox v-model="showDelete" class="filter-item" style="margin-left:15px;" @change="viewDelete()">
        View deleted
      </el-checkbox>
    </div>

    <el-table
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column label="ID" prop="id" align="center" width="50">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.getId }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Domain Code" align="center" width="80">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.domainCode }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Process Code" align="center" width="80">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.processCode }}</span>
        </template>
      </el-table-column>
      <el-table-column label="description" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.description }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Ftp Host" align="center" width="80">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.ftpHost }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Ftp Password" align="center" width="115">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.ftpPassword }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Ftp Username" align="center" width="115">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.ftpUsername }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Ftp Port" align="center" width="80">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.ftpPort }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Ftp Mode" align="center" width="85">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.ftpMode }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Ftp Transfer Type" align="center" width="105">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.ftpTransferType }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Remote Dir" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.remoteDir }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Temp Dir" align="center" width="90">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.tempDir }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Local Dir" align="center" width="90">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.localDir }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Remote Filename Template" align="center" width="140">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.remoteFilenameTemplate }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Local Filename Template" align="center" width="125">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.localFilenameTemplate }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Min Seq" align="center" width="90">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.minSeq }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Max Seq" align="center" width="90">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.maxSeq }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Cur Seq" align="center" width="90">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.curSeq }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Stop When Error" align="center" width="95">
        <template slot-scope="{row}">
          <span v-if="row.getProcessParam.stopWhenError">True</span>
          <span v-if="!row.getProcessParam.stopWhenError">False</span>
        </template>
      </el-table-column>
      <el-table-column label="Warning Type" align="center" width="85">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.warningType }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Delay Time" align="center" width="65">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.delayTime }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Log File Path" align="center" width="120">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.logFilePath }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Cur Timestamp" align="center" width="125">
        <template slot-scope="{row}">
          <span>{{ formatDate(row.getProcessParam.curTimestamp) }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Delete After Get" align="center" width="110">
        <template slot-scope="{row}">
          <span v-if="row.getProcessParam.deleteAfterGet">True</span>
          <span v-if="!row.getProcessParam.deleteAfterGet">False</span>
        </template>
      </el-table-column>
      <el-table-column label="Backup Before Delete" align="center" width="120">
        <template slot-scope="{row}">
          <span v-if="row.getProcessParam.backupBeforeDelete">True</span>
          <span v-if="!row.getProcessParam.backupBeforeDelete">False</span>
        </template>
      </el-table-column>
      <el-table-column label="Backup Dir" align="center" width="110">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.backupDir }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Time Type" align="center" width="90">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.timeType }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Time Delay" align="center" width="95">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.timeDelay }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Switch Name" align="center" width="110">
        <template slot-scope="{row}">
          <span>{{ row.switchName }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Stop When Step Err" align="center" width="105">
        <template slot-scope="{row}">
          <span v-if="row.getProcessParam.stopWhenStepErr">True</span>
          <span v-if="!row.getProcessParam.stopWhenStepErr">False</span>
        </template>
      </el-table-column>
      <el-table-column label="Priority Type" align="center" width="115">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.priorityType }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Get Class" align="center" width="105">
        <template slot-scope="{row}">
          <span>{{ row.getProcessParam.getClass }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Is Delete" align="center" width="80">
        <template slot-scope="{row}">
          <span v-if="row.getProcessParam.isDelete">True</span>
          <span v-if="!row.getProcessParam.isDelete">False</span>
        </template>
      </el-table-column>

      <el-table-column label="Actions" align="center" width="230" class-name="small-padding fixed-width">
        <template slot-scope="{row,$index}">
          <el-button v-if="!row.getProcessParam.isDelete" type="primary" size="mini" @click="handleUpdate(row)">
            Edit
          </el-button>
          <el-popconfirm
            v-if="!row.getProcessParam.isDelete"
            confirm-button-text="OK"
            cancel-button-text="No, Thanks"
            icon="fas fa-info-circle"
            icon-color="red"
            title="Are you sure to delete this?"
            @onConfirm="handleDelete(row,$index,1)"
          >
            <el-button slot="reference" size="mini" type="danger">
              Delete
            </el-button>
          </el-popconfirm>

          <el-popconfirm
            v-if="row.getProcessParam.isDelete"
            confirm-button-text="OK"
            cancel-button-text="No, Thanks"
            icon="fas fa-info-circle"
            icon-color="red"
            title="Are you sure to restore this?"
            @onConfirm="handleDelete(row,$index,0)"
          >
            <el-button slot="reference" size="mini" type="danger">
              Restore
            </el-button>
          </el-popconfirm>

        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible" top center width="90%">
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="left" label-width="205px" style="width: 90%; margin-left:50px;">
        <el-row :gutter="20">
          <el-col :span="12">
            <el-form-item v-show="dialogStatus === 'update'" label="Get Id" prop="getId">
              <el-input v-model="temp.getId" :disabled="true" />
            </el-form-item>
            <el-form-item label="Domain Code" prop="domainCode">
              <el-input v-model="temp.domainCode" />
            </el-form-item>
            <el-form-item label="Process Code" prop="processCode">
              <el-input v-model="temp.processCode" />
            </el-form-item>
            <el-form-item label="Description" prop="description">
              <el-input v-model="temp.description" />
            </el-form-item>
            <el-form-item label="Ftp Host" prop="ftpHost">
              <el-input v-model="temp.ftpHost" />
            </el-form-item>
            <el-form-item label="Ftp Username" prop="ftpUsername">
              <el-input v-model="temp.ftpUsername" />
            </el-form-item>
            <el-form-item label="Ftp Port" prop="ftpPort">
              <el-input v-model="temp.ftpPort" />
            </el-form-item>
            <el-form-item label="Ftp Password" prop="ftpPassword">
              <el-input v-model="temp.ftpPassword" />
            </el-form-item>
            <el-form-item label="Ftp Mode" prop="ftpMode">
              <el-input v-model="temp.ftpMode" />
            </el-form-item>
            <el-form-item label="Ftp Transfer Type" prop="ftpTransferType">
              <el-input v-model="temp.ftpTransferType" />
            </el-form-item>
            <el-form-item label="Remote Dir" prop="remoteDir">
              <el-input v-model="temp.remoteDir" />
            </el-form-item>
            <el-form-item label="Temp Dir" prop="tempDir">
              <el-input v-model="temp.tempDir" />
            </el-form-item>
            <el-form-item label="Local Dir" prop="localDir">
              <el-input v-model="temp.localDir" />
            </el-form-item>
            <el-form-item label="Remote Filename Template" prop="remoteFilenameTemplate">
              <el-input v-model="temp.remoteFilenameTemplate" />
            </el-form-item>
            <el-form-item label="Local Filename Template" prop="localFilenameTemplate">
              <el-input v-model="temp.localFilenameTemplate" />
            </el-form-item>
            <el-form-item label="Min Seq" prop="minSeq">
              <el-input v-model="temp.minSeq" />
            </el-form-item>
            <el-form-item label="Max Seq" prop="maxSeq">
              <el-input v-model="temp.maxSeq" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Seq Step" prop="seqStep">
              <el-input v-model="temp.seqStep" />
            </el-form-item>
            <el-form-item label="Cur Seq" prop="curSeq">
              <el-input v-model="temp.curSeq" />
            </el-form-item>
            <el-form-item label="Stop When Error" prop="stopWhenError">
              <el-select v-model="temp.stopWhenError" class="filter-item" placeholder="Please select">
                <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
              </el-select>
            </el-form-item>
            <el-form-item label="Warning Type" prop="warningType">
              <el-input v-model="temp.warningType" />
            </el-form-item>
            <el-form-item label="Delay Time" prop="delayTime">
              <el-input v-model="temp.delayTime" />
            </el-form-item>
            <el-form-item label="Log File Path" prop="logFilePath">
              <el-input v-model="temp.logFilePath" />
            </el-form-item>
            <el-form-item label="Cur Timestamp" prop="curTimestamp">
              <el-date-picker
                v-model="temp.curTimestamp"
                type="date"
                placeholder="Pick a day"
              />
            </el-form-item>
            <el-form-item label="Delete After Get" prop="deleteAfterGet">
              <el-select v-model="temp.deleteAfterGet" class="filter-item" placeholder="Please select">
                <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
              </el-select>
            </el-form-item>
            <el-form-item label="Backup Before Delete" prop="backupBeforeDelete">
              <el-select v-model="temp.backupBeforeDelete" class="filter-item" placeholder="Please select">
                <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
              </el-select>
            </el-form-item>
            <el-form-item label="Backup Dir" prop="backupDir">
              <el-input v-model="temp.backupDir" />
            </el-form-item>
            <el-form-item label="Time Type" prop="timeType">
              <el-input v-model="temp.timeType" />
            </el-form-item>
            <el-form-item label="Time Delay" prop="timeDelay">
              <el-input v-model="temp.timeDelay" />
            </el-form-item>
            <el-form-item label="Stop When Step Err" prop="stopWhenStepErr">
              <el-select v-model="temp.stopWhenStepErr" class="filter-item" placeholder="Please select">
                <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
              </el-select>
            </el-form-item>
            <el-form-item label="Priority Type" prop="priorityType">
              <el-input v-model="temp.priorityType" />
            </el-form-item>
            <el-form-item label="Get Class" prop="getClass">
              <el-input v-model="temp.getClass" />
            </el-form-item>
            <el-form-item label="Switch Name" prop="switchId">
              <el-autocomplete
                v-model="nameTemp.switchName"
                clearable
                :fetch-suggestions="querySearchAsync"
                placeholder="Please input switch name"
                @select="handleSelect"
              />
            </el-form-item>
            <el-form-item label="Is Delete" prop="isDelete">
              <el-select v-model="temp.isDelete" class="filter-item" placeholder="Please select">
                <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          Confirm
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { fetctGetParams, updateGetParam, createGetParam, deleteGetParam } from '@/api/get-process-param'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
import { fetctSwitchBoards } from '@/api/switchboard'

const deleteOptions = [
  { key: 1, display_name: 'True' },
  { key: 0, display_name: 'False' }
]

export default {
  name: 'Country',
  components: { Pagination },
  directives: { waves },
  data() {
    return {
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        deleted: 0,
        page: 1,
        limit: 10,
        key: null
      },
      deleteOptions,
      showDelete: false,
      temp: {
        getId: undefined,
        domainCode: '',
        processCode: '',
        description: '',
        ftpHost: '',
        ftpUsername: '',
        ftpPort: '',
        ftpPassword: '',
        ftpMode: undefined,
        ftpTransferType: undefined,
        remoteDir: '',
        tempDir: '',
        localDir: '',
        remoteFilenameTemplate: '',
        localFilenameTemplate: '',
        minSeq: 0,
        maxSeq: 0,
        curSeq: 0,
        stopWhenError: 0,
        warningType: 0,
        delayTime: 0,
        logFilePath: '',
        curTimestamp: undefined,
        deleteAfterGet: 0,
        backupBeforeDelete: 0,
        backupDir: '',
        timeType: 0,
        timeDelay: 0,
        switchId: undefined,
        isDelete: 0,
        stopWhenStepErr: 0,
        priorityType: undefined,
        getClass: ''
      },
      nameTemp: {
        switchName: ''
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      downloadLoading: false,
      rules: {

        domainCode: [
          { required: true, message: 'DomainCode is required', trigger: 'blur' }
        ],

        processCode: [
          { required: true, message: 'ProcessCode is required', trigger: 'blur' }
        ],

        description: [
          { required: true, message: 'Description is required', trigger: 'blur' }
        ],

        ftpHost: [
          { required: true, message: 'FtpHost is required', trigger: 'blur' }
        ],

        ftpUsername: [
          { required: true, message: 'FtpUsername is required', trigger: 'blur' }
        ],

        ftpPort: [
          { required: true, message: 'FtpPort is required', trigger: 'blur' }
        ],

        ftpPassword: [
          { required: true, message: 'FtpPassword is required', trigger: 'blur' }
        ],

        ftpMode: [
          { required: true, message: 'FtpMode is required', trigger: 'blur' }
        ],

        ftpTransferType: [
          { required: true, message: 'FtpTransferType is required', trigger: 'blur' }
        ],

        remoteDir: [
          { required: true, message: 'RemoteDir is required', trigger: 'blur' }
        ],

        tempDir: [
          { required: true, message: 'TempDir is required', trigger: 'blur' }
        ],

        localDir: [
          { required: true, message: 'LocalDir is required', trigger: 'blur' }
        ],

        remoteFilenameTemplate: [
          { required: true, message: 'RemoteFilenameTemplate is required', trigger: 'blur' }
        ],

        localFilenameTemplate: [
          { required: true, message: 'LocalFilenameTemplate is required', trigger: 'blur' }
        ],

        minSeq: [
          { required: true, message: 'MinSeq is required', trigger: 'blur' }
        ],

        maxSeq: [
          { required: true, message: 'MaxSeq is required', trigger: 'blur' }
        ],

        seqStep: [
          { required: true, message: 'SeqStep is required', trigger: 'blur' }
        ],

        curSeq: [
          { required: true, message: 'CurSeq is required', trigger: 'blur' }
        ],

        stopWhenError: [
          { required: true, message: 'StopWhenError is required', trigger: 'change' }
        ],

        warningType: [
          { required: true, message: 'WarningType is required', trigger: 'blur' }
        ],

        delayTime: [
          { required: true, message: 'DelayTime is required', trigger: 'blur' }
        ],

        logFilePath: [
          { required: true, message: 'LogFilePath is required', trigger: 'blur' }
        ],

        curTimestamp: [
          { required: true, message: 'CurTimestamp is required', trigger: 'blur' }
        ],

        deleteAfterGet: [
          { required: true, message: 'DeleteAfterGet is required', trigger: 'change' }
        ],

        backupBeforeDelete: [
          { required: true, message: 'BackupBeforeDelete is required', trigger: 'change' }
        ],

        backupDir: [
          { required: true, message: 'BackupDir is required', trigger: 'blur' }
        ],

        timeType: [
          { required: true, message: 'TimeType is required', trigger: 'blur' }
        ],

        timeDelay: [
          { required: true, message: 'TimeDelay is required', trigger: 'blur' }
        ],

        // switchId: [
        //   { required: true, message: 'SwitchId is required', trigger: 'change' }
        // ],

        isDelete: [
          { required: true, message: 'IsDelete is required', trigger: 'change' }
        ],

        stopWhenStepErr: [
          { required: true, message: 'StopWhenStepErr is required', trigger: 'blur' }
        ],

        priorityType: [
          { required: true, message: 'PriorityType is required', trigger: 'blur' }
        ],

        getClass: [
          { required: true, message: 'GetClass is required', trigger: 'blur' }
        ]

      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    formatDate(d) {
      d = new Date(d)
      const ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(d)
      const mo = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(d)
      const da = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(d)
      return ye + '-' + mo + '-' + da
    },
    querySearchAsync(queryString, cb) {
      const query = {
        page: 1,
        limit: 5,
        deleted: 0,
        key: queryString
      }
      let results = []
      let listSwitchBoards = []
      fetctSwitchBoards(query).then(response => {
        listSwitchBoards = response.data.items
        results = listSwitchBoards.map(s => {
          return {
            value: s.switchBoard.switchName,
            key: s.switchBoard.switchId
          }
        })
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 100)
      })
    },
    handleSelect(item) {
      console.log(item.key)
      this.temp.switchId = item.key
    },
    getList() {
      this.listLoading = true
      fetctGetParams(this.listQuery).then(response => {
        this.list = response.data.items
        this.total = response.data.total
        console.log(this.list)
        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false
        }, 0 * 1000)
      })
    },
    resetTemp() {
      this.nameTemp = {
        switchName: ''
      }
      this.temp = {
        getId: undefined,
        domainCode: '',
        processCode: '',
        description: '',
        ftpHost: '',
        ftpUsername: '',
        ftpPort: '',
        ftpPassword: '',
        ftpMode: undefined,
        ftpTransferType: undefined,
        remoteDir: '',
        tempDir: '',
        localDir: '',
        remoteFilenameTemplate: '',
        localFilenameTemplate: '',
        minSeq: 0,
        maxSeq: 0,
        curSeq: 0,
        stopWhenError: 0,
        warningType: 0,
        delayTime: 0,
        logFilePath: '',
        curTimestamp: undefined,
        deleteAfterGet: 0,
        backupBeforeDelete: 0,
        backupDir: '',
        timeType: 0,
        timeDelay: 0,
        switchId: undefined,
        isDelete: 0,
        stopWhenStepErr: 0,
        priorityType: undefined,
        getClass: ''
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.temp.isDelete = 0
          this.temp.getId = 0
          createGetParam(this.temp).then(() => {
            const row = {
              getProcessParam: this.temp,
              switchName: this.nameTemp.switchName
            }
            this.list.unshift(row)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
            this.getList()
          })
        } else {
          console.log('Not valid')
        }
      })
    },
    handleUpdate(row) {
      const obj = Object.assign({}, row)
      this.temp = obj.getProcessParam
      this.nameTemp.switchName = obj.switchName
      // if (this.nameTemp.switchName === null){
      //   this.nameTemp.switchName = "Id " + this.temp.switchId + " is not mapped"
      // }
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          updateGetParam(tempData).then(() => {
            const index = this.list.findIndex(v => v.getProcessParam.getId === this.temp.getId)
            const row = {
              getProcessParam: this.temp,
              switchName: this.nameTemp.switchName
            }
            this.list.splice(index, 1, row)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        } else {
          console.log('Not valid')
        }
      })
    },
    handleDelete(row, index, deleted) {
      deleteGetParam(row.getProcessParam.getId, deleted).then(() => {
        if (deleted) {
          this.$notify({
            title: 'Success',
            message: 'Delete Successfully',
            type: 'success',
            duration: 2000
          })
        } else {
          this.$notify({
            title: 'Success',
            message: 'Restore Successfully',
            type: 'success',
            duration: 2000
          })
        }

        this.list.splice(index, 1)
      })
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['Get Id', 'Domain Code', 'Process Code', 'Description', 'Ftp Host', 'Ftp Username', 'Ftp Port', 'Ftp Password', 'Ftp Mode', 'Ftp Transfer Type', 'Remote Dir', 'Temp Dir', 'Local Dir', 'Remote Filename Template', 'Local Filename Template', 'Min Seq', 'Max Seq', 'Seq Step', 'Cur Seq', 'Stop When Error', 'Ưarning Type', 'Delay Time', 'Log File Path', 'Cur Timestamp', 'Delete After Get', 'Backup Before Delete', 'Backup Dir', 'Time Type', 'Time Delay', 'Switch Id', 'Is Delete', 'Stop When Step Err', 'Priority Type', 'Get Class']
        const filterVal = ['getId', 'domainCode', 'processCode', 'description', 'ftpHost', 'ftpUsername', 'ftpPort', 'ftpPassword', 'ftpMode', 'ftpTransferType', 'remoteDir', 'tempDir', 'localDir', 'remoteFilenameTemplate', 'localFilenameTemplate', 'minSeq', 'maxSeq', 'seqStep', 'curSeq', 'stopWhenError', 'warningType', 'delayTime', 'logFilePath', 'curTimestamp', 'deleteAfterGet', 'backupBeforeDelete', 'backupDir', 'timeType', 'timeDelay', 'switchId', 'isDelete', 'stopWhenStepErr', 'priorityType', 'getClass']
        const data = this.formatJson(filterVal)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'get_process_params'
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal) {
      return this.list.map(v => filterVal.map(j => {
        if (j === 'curTimestamp') {
          return this.formatDate(v['getProcessParam'][j])
        } else {
          return v['getProcessParam'][j]
        }
      }))
    },
    viewDelete: function() {
      this.listQuery.deleted = this.showDelete ? 1 : 0
      this.getList()
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    }
  }
}
</script>
