<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="listQuery.key" placeholder="Part Name" style="width: 500px;padding-right:20px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-button v-waves class="filter-item" type="primary" icon="fas fa-search" @click="handleFilter">
        Search
      </el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="fas fa-edit" @click="handleCreate">
        Add
      </el-button>
      <el-button v-waves :loading="downloadLoading" class="filter-item" type="primary" icon="fas fa-download" @click="handleDownload">
        Export
      </el-button>
      <el-checkbox v-model="showDelete" class="filter-item" style="margin-left:15px;" @change="viewDelete()">
        View deleted
      </el-checkbox>
    </div>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column label="ID" prop="id" align="center" width="50">
        <template slot-scope="{row}">
          <span>{{ row.partnerId }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Country" align="center" min-width="110">
        <template slot-scope="{row}">
          <span>{{ row.countryName }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Address" align="center" min-width="110">
        <template slot-scope="{row}">
          <span>{{ row.address }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Phone" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.phone }}</span>
        </template>
      </el-table-column>
      <el-table-column label="FAX" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.fax }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Part Name" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.partName }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Part Abbreviate" align="center" width="130">
        <template slot-scope="{row}">
          <span>{{ row.partAbbreviate }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Timezone out diff" align="center" width="90">
        <template slot-scope="{row}">
          <span>{{ row.timezoneOutDiff }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Timezone in diff" align="center" width="90">
        <template slot-scope="{row}">
          <span>{{ row.timezoneInDiff }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Is National" align="center" width="95">
        <template slot-scope="{row}">
          <span v-if="row.national">True</span>
          <span v-if="!row.national">False</span>
        </template>
      </el-table-column>
      <el-table-column label="Is Vas" align="center" width="70">
        <template slot-scope="{row}">
          <span v-if="row.vas">True</span>
          <span v-if="!row.vas">False</span>
        </template>
      </el-table-column>
      <el-table-column label="Is Delete" align="center" width="80">
        <template slot-scope="{row}">
          <span v-if="row.delete">True</span>
          <span v-if="!row.delete">False</span>
        </template>
      </el-table-column>
      <el-table-column label="Actions" align="center" width="230" class-name="small-padding fixed-width">
        <template slot-scope="{row,$index}">
          <el-button v-if="!row.delete" type="primary" size="mini" @click="handleUpdate(row)">
            Edit
          </el-button>
          <el-popconfirm
            v-if="!row.delete"
            confirm-button-text="OK"
            cancel-button-text="No, Thanks"
            icon="fas fa-info-circle"
            icon-color="red"
            title="Are you sure to delete this?"
            @onConfirm="handleDelete(row,$index,1)"
          >
            <el-button slot="reference" size="mini" type="danger">
              Delete
            </el-button>
          </el-popconfirm>

          <el-popconfirm
            v-if="row.delete"
            confirm-button-text="OK"
            cancel-button-text="No, Thanks"
            icon="fas fa-info-circle"
            icon-color="red"
            title="Are you sure to restore this?"
            @onConfirm="handleDelete(row,$index,0)"
          >
            <el-button slot="reference" size="mini" type="danger">
              Restore
            </el-button>
          </el-popconfirm>

        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible" center top width="50%">
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="left" label-width="140px" style="width: 400px; margin-left:50px;">
        <el-form-item v-show="dialogStatus === 'update'" label="ID" prop="partnerId">
          <el-input v-model="temp.partnerId" :disabled="true" />
        </el-form-item>
        <el-form-item label="Country" prop="countryName">
          <el-autocomplete
            v-model="temp.countryName"
            clearable
            :fetch-suggestions="querySearchAsync"
            placeholder="Please input name country"
            @select="handleSelect"
          />
        </el-form-item>
        <el-form-item label="Address" prop="address">
          <el-input v-model="temp.address" />
        </el-form-item>
        <el-form-item label="Phone" prop="phone">
          <el-input v-model="temp.phone" />
        </el-form-item>
        <el-form-item label="Fax" prop="fax">
          <el-input v-model="temp.fax" />
        </el-form-item>
        <el-form-item label="Part Name" prop="partName">
          <el-input v-model="temp.partName" />
        </el-form-item>
        <el-form-item label="Part Abbreviate" prop="partAbbreviate">
          <el-input v-model="temp.partAbbreviate" />
        </el-form-item>
        <el-form-item label="Timezone out diff" prop="timezoneOutDiff">
          <el-input v-model="temp.timezoneOutDiff" />
        </el-form-item>
        <el-form-item label="Timezone in diff" prop="timezoneInDiff">
          <el-input v-model="temp.timezoneInDiff" />
        </el-form-item>
        <el-form-item label="National" prop="national">
          <el-select v-model="temp.national" class="filter-item" placeholder="Please select">
            <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
          </el-select>
        </el-form-item>
        <el-form-item label="Vas" prop="vas">
          <el-select v-model="temp.vas" class="filter-item" placeholder="Please select">
            <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
          </el-select>
        </el-form-item>
        <el-form-item v-show="dialogStatus === 'update'" label="Delete" prop="delete">
          <el-select v-model="temp.delete" class="filter-item" placeholder="Please select">
            <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          Confirm
        </el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>
import { fetchPartners, createPartner, updatePartner, deletePartner, fetchPv, createArticle, updateArticle } from '@/api/partner'
import { fetchCountries } from '@/api/country'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination

const deleteOptions = [
  { key: 1, display_name: 'True' },
  { key: 0, display_name: 'False' }
]

export default {
  name: 'Partner',
  components: { Pagination },
  directives: { waves },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        deleted: 0,
        page: 1,
        limit: 10,
        key: null
      },
      deleteOptions,
      showDelete: false,
      temp: {
        partnerId: undefined,
        countryId: undefined,
        countryName: undefined,
        address: '',
        phone: '',
        fax: '',
        partName: '',
        partAbbreviate: '',
        delete: 0,
        national: 0,
        vas: 0,
        timezoneOutDiff: 0,
        timezoneInDiff: 0
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      dialogPvVisible: false,
      rules: {
        countryName: [{ required: true, message: 'CountryName is required', trigger: 'change' }],
        address: [{ required: true, message: 'Address is required', trigger: 'blur' }],
        // phone: [{ required: true, message: 'Phone is required', trigger: 'blur' }],
        // fax: [{ required: true, message: 'Fax is required', trigger: 'blur' }],
        partName: [{ required: true, message: 'PartName is required', trigger: 'blur' }],
        partAbbreviate: [{ required: true, message: 'PartAbbreviate is required', trigger: 'blur' }],
        delete: [{ required: true, message: 'Delete is required', trigger: 'change' }],
        national: [{ required: true, message: 'National is required', trigger: 'change' }],
        vas: [{ required: true, message: 'Vas is required', trigger: 'change' }]
        // timezoneOutDiff: [{ required: true, message: 'TimezoneOutDiff is required', trigger: 'blur' }],
        // timezoneInDiff: [{ required: true, message: 'TimezoneInDiff is required', trigger: 'blur' }],
      },
      downloadLoading: false
    }
  },
  created() {
    this.getList()
  },
  methods: {
    querySearchAsync(queryString, cb) {
      const query = {
        page: 1,
        limit: 5,
        deleted: 0,
        key: queryString
      }
      let listCountries = []
      let results = []
      fetchCountries(query).then(response => {
        listCountries = response.data.items
        results = listCountries.map(c => {
          return {
            value: c.countryName,
            key: c.countryId
          }
        })
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 100)
      })
    },
    handleSelect(item) {
      this.temp.countryId = item.key
    },
    getList() {
      this.listLoading = true
      fetchPartners(this.listQuery).then(response => {
        this.list = response.data.items
        this.total = response.data.total
        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false
        }, 0 * 1000)
      })
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    },
    resetTemp() {
      this.temp = {
        partnerId: undefined,
        countryId: undefined,
        countryName: '',
        address: '',
        phone: '',
        fax: '',
        partName: '',
        partAbbreviate: '',
        delete: 0,
        national: 0,
        vas: 0,
        timezoneOutDiff: 0,
        timezoneInDiff: 0
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.temp.delete = 0
          this.temp.partnerId = 0
          console.log('Partner: ' + this.temp)
          createPartner(this.temp).then(() => {
            this.list.unshift(this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
            this.getList()
          })
        }
      })
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          updatePartner(tempData).then(() => {
            const index = this.list.findIndex(v => v.partnerId === this.temp.partnerId)
            this.list.splice(index, 1, this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleDelete(row, index, deleted) {
      deletePartner(row.partnerId, deleted).then(() => {
        if (deleted) {
          this.$notify({
            title: 'Success',
            message: 'Delete Successfully',
            type: 'success',
            duration: 2000
          })
        } else {
          this.$notify({
            title: 'Success',
            message: 'Restore Successfully',
            type: 'success',
            duration: 2000
          })
        }

        this.list.splice(index, 1)
      })
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['Partner Id', 'Country Id', 'Country Name', 'Address', 'Phone', 'Fax',
          'Part Name', 'Part Abbreviate', 'Timezone Out Diff', 'Timezone In Diff', 'National', 'Vas', 'Delete']
        const filterVal = ['partnerId', 'countryId', 'countryName', 'address', 'phone', 'fax',
          'partName', 'partAbbreviate', 'timezoneOutDiff', 'timezoneInDiff', 'national', 'vas', 'delete']
        const data = this.formatJson(filterVal)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'partners_list'
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal) {
      return this.list.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v[j])
        } else {
          return v[j]
        }
      }))
    },
    viewDelete: function() {
      this.listQuery.deleted = this.showDelete ? 1 : 0
      this.getList()
    }
  }
}
</script>
