<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="listQuery.key" placeholder="PrefixName" style="width: 500px;padding-right:20px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-button v-waves class="filter-item" type="primary" icon="fas fa-search" @click="handleFilter">
        Search
      </el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="fas fa-edit" @click="handleCreate">
        Add
      </el-button>
      <el-button v-waves :loading="downloadLoading" class="filter-item" type="primary" icon="fas fa-download" @click="handleDownload">
        Export
      </el-button>
      <el-checkbox v-model="showDelete" class="filter-item" style="margin-left:15px;" @change="viewDelete()">
        View deleted
      </el-checkbox>
    </div>

    <el-table
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >

      <el-table-column label="ID" align="center" width="60">
        <template slot-scope="{row}">
          <span>{{ row.prefixNumber.prefixNumberId }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Service" align="center" width="90">
        <template slot-scope="{row}">
          <span>{{ row.serviceName }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Prefix Number" align="center" width="120">
        <template slot-scope="{row}">
          <span>{{ row.prefixNumber.prefixNumber }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Length Number" align="center" width="125">
        <template slot-scope="{row}">
          <span>{{ row.prefixNumber.lengthNumber }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Partner" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.partName }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Part Type" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.prefixNumber.partType }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Area Prefix Number" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.prefixNumber.areaPrefixNumber }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Area" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.areaName }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Country Name" align="center" width="120">
        <template slot-scope="{row}">
          <span>{{ row.countryName }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Code Type" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.prefixNumber.codeType }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Number Function" align="center" width="140">
        <template slot-scope="{row}">
          <span>{{ row.prefixNumber.numberFunction }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Add Prefix" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.prefixNumber.addPrefix }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Valid Prefix Number" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.prefixNumber.validPrefixNumber }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Valid Prefix Number Id" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.prefixNumber.validPrefixNumberId }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Sub Part Type" align="center" width="115">
        <template slot-scope="{row}">
          <span>{{ row.prefixNumber.subPartType }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Server Number" align="center" width="125">
        <template slot-scope="{row}">
          <span>{{ row.prefixNumber.serverNumber }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Is Delete" align="center" width="100">
        <template slot-scope="{row}">
          <span v-if="row.prefixNumber.isDelete">True</span>
          <span v-if="!row.prefixNumber.isDelete">False</span>
        </template>
      </el-table-column>

      <el-table-column label="Actions" align="center" width="230" class-name="small-padding fixed-width">
        <template slot-scope="{row,$index}">
          <el-button v-if="!row.prefixNumber.isDelete" type="primary" size="mini" @click="handleUpdate(row)">
            Edit
          </el-button>
          <el-popconfirm
            v-if="!row.prefixNumber.isDelete"
            confirm-button-text="OK"
            cancel-button-text="No, Thanks"
            icon="fas fa-info-circle"
            icon-color="red"
            title="Are you sure to delete this?"
            @onConfirm="handleDelete(row,$index,1)"
          >
            <el-button slot="reference" size="mini" type="danger">
              Delete
            </el-button>
          </el-popconfirm>

          <el-popconfirm
            v-if="row.prefixNumber.isDelete"
            confirm-button-text="OK"
            cancel-button-text="No, Thanks"
            icon="fas fa-info-circle"
            icon-color="red"
            title="Are you sure to restore this?"
            @onConfirm="handleDelete(row,$index,0)"
          >
            <el-button slot="reference" size="mini" type="danger">
              Restore
            </el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible" center width="90%">
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="left" label-width="175px" style="width: 90%; margin-left:50px;">
        <el-row :gutter="20">
          <el-col :span="12">
            <el-form-item v-show="dialogStatus === 'update'" label="Id" prop="prefixNumberId">
              <el-input v-model="temp.prefixNumberId" :disabled="true" />
            </el-form-item>

            <el-form-item label="Service Name" prop="serviceId">
              <el-autocomplete
                v-model="nameTemp.serviceName"
                clearable
                :fetch-suggestions="querySearchAsyncService"
                placeholder="Please input service name"
                @select="handleSelectService"
              />
            </el-form-item>

            <el-form-item label="Prefix Number" prop="prefixNumber">
              <el-input v-model="temp.prefixNumber" />
            </el-form-item>

            <el-form-item label="Length Number" prop="lengthNumber">
              <el-input v-model="temp.lengthNumber" />
            </el-form-item>

            <el-form-item label="Part Name" prop="partnerId">
              <el-autocomplete
                v-model="nameTemp.partnerName"
                clearable
                :fetch-suggestions="querySearchAsyncPartner"
                placeholder="Please input part name"
                @select="handleSelectPartner"
              />
            </el-form-item>

            <el-form-item label="Part Type" prop="partType">
              <el-input v-model="temp.partType" />
            </el-form-item>

            <el-form-item label="Area Prefix Number" prop="areaPrefixNumber">
              <el-input v-model="temp.areaPrefixNumber" />
            </el-form-item>

            <el-form-item label="Area Name" prop="areaId">
              <el-autocomplete
                v-model="nameTemp.areaName"
                clearable
                :fetch-suggestions="querySearchAsyncArea"
                placeholder="Please input area name"
                @select="handleSelectArea"
              />
            </el-form-item>

          </el-col>
          <el-col :span="12">
            <el-form-item label="Country Name" prop="countryId">
              <el-autocomplete
                v-model="nameTemp.countryName"
                clearable
                :fetch-suggestions="querySearchAsyncCountry"
                placeholder="Please input country name"
                @select="handleSelectCountry"
              />
            </el-form-item>

            <el-form-item label="Code Type" prop="codeType">
              <el-input v-model="temp.codeType" />
            </el-form-item>

            <el-form-item label="Number Function" prop="numberFunction">
              <el-input v-model="temp.numberFunction" />
            </el-form-item>

            <el-form-item label="Add Prefix" prop="addPrefix">
              <el-input v-model="temp.addPrefix" />
            </el-form-item>

            <el-form-item label="Valid Prefix Number" prop="validPrefixNumber">
              <el-input v-model="temp.validPrefixNumber" />
            </el-form-item>

            <el-form-item label="Valid Prefix Number Id" prop="validPrefixNumberId">
              <el-input v-model="temp.validPrefixNumberId" />
            </el-form-item>

            <el-form-item label="Sub Part Type" prop="subPartType">
              <el-input v-model="temp.subPartType" />
            </el-form-item>

            <el-form-item label="Server Number" prop="serverNumber">
              <el-input v-model="temp.serverNumber" />
            </el-form-item>
            <el-form-item v-show="dialogStatus === 'update'" label="Is Delete" prop="isDelete">
              <el-select v-model="temp.isDelete" class="filter-item" placeholder="Please select">
                <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          Confirm
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { fetchPrefixNumbers, createPrefixNumber, updatePrefixNumber, deletePrefixNumber } from '@/api/prefix-number'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
import { fetctServices } from '@/api/service'
import { fetchPartners } from '@/api/partner'
import { fetchCountries } from '@/api/country'
import { fetctAreas } from '@/api/area'

const deleteOptions = [
  { key: 1, display_name: 'True' },
  { key: 0, display_name: 'False' }
]

export default {
  name: 'Country',
  components: { Pagination },
  directives: { waves },
  data() {
    return {
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        deleted: 0,
        page: 1,
        limit: 10,
        key: null
      },
      deleteOptions,
      showDelete: false,
      temp: {
        prefixNumberId: undefined,
        serviceId: undefined,
        prefixNumber: undefined,
        lengthNumber: undefined,
        partnerId: undefined,
        partType: undefined,
        areaPrefixNumber: undefined,
        areaId: undefined,
        countryId: undefined,
        codeType: undefined,
        numberFunction: undefined,
        addPrefix: undefined,
        validPrefixNumber: undefined,
        validPrefixNumberId: undefined,
        isDelete: undefined,
        subPartType: undefined,
        serverNumber: undefined
      },
      nameTemp: {
        countryName: undefined,
        serviceName: undefined,
        areaName: undefined,
        partName: undefined
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      downloadLoading: false,
      rules: {

        // serviceId: [
        //   { required: true, message: 'ServiceId is required', trigger: 'change' }
        // ],

        prefixNumber: [
          { required: true, message: 'PrefixNumber is required', trigger: 'blur' }
        ],

        lengthNumber: [
          { required: true, message: 'LengthNumber is required', trigger: 'blur' }
        ],

        partnerId: [
          { required: true, message: 'PartnerId is required', trigger: 'change' }
        ],

        partType: [
          { required: true, message: 'PartType is required', trigger: 'blur' }
        ],

        // areaPrefixNumber: [
        //   { required: true, message: 'AreaPrefixNumber is required', trigger: 'blur' }
        // ],

        // areaId: [
        //   { required: true, message: 'AreaId is required', trigger: 'change' }
        // ],

        countryId: [
          { required: true, message: 'CountryId is required', trigger: 'change' }
        ],

        codeType: [
          { required: true, message: 'CodeType is required', trigger: 'blur' }
        ],

        numberFunction: [
          { required: true, message: 'NumberFunction is required', trigger: 'blur' }
        ],

        // addPrefix: [
        //   { required: true, message: 'AddPrefix is required', trigger: 'blur' }
        // ],

        // validPrefixNumber: [
        //   { required: true, message: 'ValidPrefixNumber is required', trigger: 'blur' }
        // ],

        // validPrefixNumberId: [
        //   { required: true, message: 'ValidPrefixNumberId is required', trigger: 'blur' }
        // ],

        isDelete: [
          { required: true, message: 'IsDelete is required', trigger: 'blur' }
        ],

        // subPartType: [
        //   { required: true, message: 'SubPartType is required', trigger: 'blur' }
        // ],

        serverNumber: [
          { required: true, message: 'ServerNumber is required', trigger: 'blur' }
        ]

      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    querySearchAsyncArea(queryString, cb) {
      const query = {
        page: 1,
        limit: 5,
        deleted: 0,
        key: queryString
      }
      let results = []
      let listAreas = []
      fetctAreas(query).then(response => {
        listAreas = response.data.items
        results = listAreas.map(s => {
          return {
            value: s.name,
            key: s.areaId
          }
        })
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 100)
      })
    },
    handleSelectArea(item) {
      console.log(item.key)
      this.temp.areaId = item.key
    },
    querySearchAsyncCountry(queryString, cb) {
      const query = {
        page: 1,
        limit: 5,
        deleted: 0,
        key: queryString
      }
      let results = []
      let listAreas = []
      fetchCountries(query).then(response => {
        listAreas = response.data.items
        results = listAreas.map(s => {
          return {
            value: s.countryName,
            key: s.countryId
          }
        })
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 100)
      })
    },
    handleSelectCountry(item) {
      console.log(item.key)
      this.temp.countryId = item.key
    },
    querySearchAsyncPartner(queryString, cb) {
      const query = {
        page: 1,
        limit: 5,
        deleted: 0,
        key: queryString
      }
      let results = []
      let listAreas = []
      fetchPartners(query).then(response => {
        listAreas = response.data.items
        results = listAreas.map(s => {
          return {
            value: s.partName,
            key: s.partnerId
          }
        })
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 100)
      })
    },
    handleSelectPartner(item) {
      console.log(item.key)
      this.temp.partnerId = item.key
    },
    querySearchAsyncService(queryString, cb) {
      const query = {
        page: 1,
        limit: 5,
        deleted: 0,
        key: queryString
      }
      let results = []
      let listAreas = []
      fetctServices(query).then(response => {
        listAreas = response.data.items
        results = listAreas.map(s => {
          return {
            value: s.service.serviceName,
            key: s.service.serviceId
          }
        })
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 100)
      })
    },
    handleSelectService(item) {
      console.log(item.key)
      this.temp.serviceId = item.key
    },
    formatDate(d) {
      d = new Date(d)
      const ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(d)
      const mo = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(d)
      const da = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(d)
      return ye + '-' + mo + '-' + da
    },
    getList() {
      this.listLoading = true
      fetchPrefixNumbers(this.listQuery).then(response => {
        this.list = response.data.items
        this.total = response.data.total
        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false
        }, 0 * 1000)
      })
    },
    resetTemp() {
      this.temp = {
        prefixNumberId: undefined,
        serviceId: undefined,
        prefixNumber: undefined,
        lengthNumber: undefined,
        partnerId: undefined,
        partType: undefined,
        areaPrefixNumber: undefined,
        areaId: undefined,
        countryId: undefined,
        codeType: undefined,
        numberFunction: undefined,
        addPrefix: undefined,
        validPrefixNumber: undefined,
        validPrefixNumberId: undefined,
        isDelete: undefined,
        subPartType: undefined,
        serverNumber: undefined
      }
      this.nameTemp = {
        countryName: undefined,
        serviceName: undefined,
        areaName: undefined,
        partName: undefined
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.temp.isDelete = 0
      this.temp.prefixNumberId = 0
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          createPrefixNumber(this.temp).then(() => {
            const row = {
              prefixNumber: this.temp,
              countryName: this.nameTemp.countryName,
              serviceName: this.nameTemp.serviceName,
              areaName: this.nameTemp.areaName,
              partName: this.nameTemp.partName
            }
            this.list.unshift(row)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
            this.getList()
          })
        } else {
          console.log('Not valid')
        }
      })
    },
    handleUpdate(row) {
      const obj = Object.assign({}, row)
      this.temp = obj.prefixNumber
      this.nameTemp.countryName = obj.countryName
      this.nameTemp.areaName = obj.areaName
      this.nameTemp.serviceName = obj.serviceName
      this.nameTemp.partName = obj.partName
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          updatePrefixNumber(tempData).then(() => {
            const index = this.list.findIndex(v => v.prefixNumber.prefixNumberId === this.temp.prefixNumberId)
            const row = {
              route: this.temp,
              partnerName: this.nameTemp.partnerName,
              switchName: this.nameTemp.switchName,
              prefixNumber: this.nameTemp.prefixNumber,
              serviceName: this.nameTemp.serviceName
            }
            this.list.splice(index, 1, row)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        } else {
          console.log('Not valid')
        }
      })
    },
    handleDelete(row, index, deleted) {
      deletePrefixNumber(row.prefixNumber.prefixNumberId, deleted).then(() => {
        if (deleted) {
          this.$notify({
            title: 'Success',
            message: 'Delete Successfully',
            type: 'success',
            duration: 2000
          })
        } else {
          this.$notify({
            title: 'Success',
            message: 'Restore Successfully',
            type: 'success',
            duration: 2000
          })
        }

        this.list.splice(index, 1)
      })
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['Prefix Number Id', 'Service Id', 'Prefix Number', 'Length Number', 'Partner Id', 'Part Type', 'Area Prefix Number', 'Area Id', 'Country Id', 'Code Type', 'Number Function', 'Add Prefix', 'Valid Prefix Number', 'Valid Prefix Number Id', 'Is Delete', 'Sub Part Type', 'Server Number']
        const filterVal = ['prefixNumberId', 'serviceId', 'prefixNumber', 'lengthNumber', 'partnerId', 'partType', 'areaPrefixNumber', 'areaId', 'countryId', 'codeType', 'numberFunction', 'addPrefix', 'validPrefixNumber', 'validPrefixNumberId', 'isDelete', 'subPartType', 'serverNumber']
        const data = this.formatJson(filterVal)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'prefixNumbers'
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal) {
      return this.list.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v['prefixNumber'][j])
        } else {
          return v['prefixNumber'][j]
        }
      }))
    },
    viewDelete: function() {
      this.listQuery.deleted = this.showDelete ? 1 : 0
      this.getList()
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    }
  }
}
</script>
