<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="listQuery.key" placeholder="ServiceName" style="width: 500px;padding-right:20px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-button v-waves class="filter-item" type="primary" icon="fas fa-search" @click="handleFilter">
        Search
      </el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="fas fa-edit" @click="handleCreate">
        Add
      </el-button>
      <el-button v-waves :loading="downloadLoading" class="filter-item" type="primary" icon="fas fa-download" @click="handleDownload">
        Export
      </el-button>
      <el-checkbox v-model="showDelete" class="filter-item" style="margin-left:15px;" @change="viewDelete()">
        View deleted
      </el-checkbox>
    </div>

    <el-table
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column label="ID" align="center" width="50">
        <template slot-scope="{row}">
          <span>{{ row.service.serviceId }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Service Name" align="center" width="120">
        <template slot-scope="{row}">
          <span>{{ row.service.serviceName }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Partner Name" align="center" width="120">
        <template slot-scope="{row}">
          <span>{{ row.partnerName }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Voice Block Code" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.voiceBlockCode }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Service Type" align="center" width="110">
        <template slot-scope="{row}">
          <span>{{ row.service.serviceType }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Block Type" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.service.blockType }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Time Off Peak Id" align="center" width="135">
        <template slot-scope="{row}">
          <span>{{ row.service.timeOffPeakId }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Service Code" align="center" width="110">
        <template slot-scope="{row}">
          <span>{{ row.service.serviceCode }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Switch Name" align="center" width="110">
        <template slot-scope="{row}">
          <span>{{ row.switchName }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Is Delete" align="center" width="100">
        <template slot-scope="{row}">
          <span v-if="row.service.isDelete">True</span>
          <span v-if="!row.service.isDelete">False</span>
        </template>
      </el-table-column>

      <el-table-column label="Actions" align="center" width="230" class-name="small-padding fixed-width">
        <template slot-scope="{row,$index}">
          <el-button v-if="!row.service.isDelete" type="primary" size="mini" @click="handleUpdate(row)">
            Edit
          </el-button>
          <el-popconfirm
            v-if="!row.service.isDelete"
            confirm-button-text="OK"
            cancel-button-text="No, Thanks"
            icon="fas fa-info-circle"
            icon-color="red"
            title="Are you sure to delete this?"
            @onConfirm="handleDelete(row,$index,1)"
          >
            <el-button slot="reference" size="mini" type="danger">
              Delete
            </el-button>
          </el-popconfirm>

          <el-popconfirm
            v-if="row.service.isDelete"
            confirm-button-text="OK"
            cancel-button-text="No, Thanks"
            icon="fas fa-info-circle"
            icon-color="red"
            title="Are you sure to restore this?"
            @onConfirm="handleDelete(row,$index,0)"
          >
            <el-button slot="reference" size="mini" type="danger">
              Restore
            </el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible" center>
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="left" label-width="140px" style="width: 400px; margin-left:50px;">
        <el-form-item v-show="dialogStatus === 'update'" label="Id" prop="serviceId">
          <el-input v-model="temp.serviceId" :disabled="true" />
        </el-form-item>
        <el-form-item label="Service Name" prop="serviceName">
          <el-input v-model="temp.serviceName" />
        </el-form-item>
        <el-form-item label="Partner Name" prop="partnerId">
          <el-autocomplete
            v-model="nameTemp.partnerName"
            clearable
            :fetch-suggestions="querySearchAsyncPartner"
            placeholder="Please input partner name"
            @select="handleSelectPartner"
          />
        </el-form-item>
        <el-form-item label="VoiceBlockCode" prop="voiceBlockId">
          <el-autocomplete
            v-model="nameTemp.voiceBlockCode"
            clearable
            :fetch-suggestions="querySearchAsyncVoiceBlock"
            placeholder="Please input block code"
            @select="handleSelectVoiceBlock"
          />
        </el-form-item>
        <el-form-item label="Service Type" prop="serviceType">
          <el-input v-model="temp.serviceType" />
        </el-form-item>
        <el-form-item label="Block Type" prop="blockType">
          <el-input v-model="temp.blockType" />
        </el-form-item>
        <el-form-item label="Time Off Peak Id" prop="timeOffPeakId">
          <el-input v-model="temp.timeOffPeakId" />
        </el-form-item>
        <el-form-item label="Service Code" prop="serviceCode">
          <el-input v-model="temp.serviceCode" />
        </el-form-item>
        <el-form-item label="Switch Name" prop="switchId">
          <el-autocomplete
            v-model="nameTemp.switchName"
            clearable
            :fetch-suggestions="querySearchAsyncSwitchBoard"
            placeholder="Please input switch name"
            @select="handleSelectSwitchBoard"
          />
        </el-form-item>
        <el-form-item v-show="dialogStatus === 'update'" label="Delete" prop="isDelete">
          <el-select v-model="temp.isDelete" class="filter-item" placeholder="Please select">
            <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          Confirm
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { fetctServices, createService, updateService, deleteService } from '@/api/service'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
import { fetctSwitchBoards } from '@/api/switchboard'
import { fetchPartners } from '@/api/partner'
import { fetctVoiceBlocks } from '@/api/voice-block'

const deleteOptions = [
  { key: 1, display_name: 'True' },
  { key: 0, display_name: 'False' }
]

export default {
  name: 'Country',
  components: { Pagination },
  directives: { waves },
  data() {
    return {
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        deleted: 0,
        page: 1,
        limit: 10,
        key: null
      },
      deleteOptions,
      showDelete: false,
      temp: {
        serviceId: undefined,
        serviceName: undefined,
        partnerId: undefined,
        voiceBlockId: undefined,
        serviceType: undefined,
        blockType: undefined,
        timeOffPeakId: undefined,
        isDelete: undefined,
        serviceCode: undefined,
        switchId: undefined
      },
      nameTemp: {
        voiceBlockCode: undefined,
        switchName: undefined,
        partnerName: undefined
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      downloadLoading: false,
      rules: {

        serviceName: [
          { required: true, message: 'ServiceName is required', trigger: 'blur' }
        ],

        partnerId: [
          { required: true, message: 'PartnerId is required', trigger: 'change' }
        ],

        // voiceBlockId: [
        //   { required: true, message: 'VoiceBlockId is required', trigger: 'change' }
        // ],

        serviceType: [
          { required: true, message: 'ServiceType is required', trigger: 'blur' }
        ],

        // blockType: [
        //   { required: true, message: 'BlockType is required', trigger: 'blur' }
        // ],

        // timeOffPeakId: [
        //   { required: true, message: 'TimeOffPeakId is required', trigger: 'blur' }
        // ],

        isDelete: [
          { required: true, message: 'IsDelete is required', trigger: 'change' }
        ],

        serviceCode: [
          { required: true, message: 'ServiceCode is required', trigger: 'blur' }
        ]

        // switchId: [
        //   { required: true, message: 'SwitchId is required', trigger: 'change' }
        // ]
      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    querySearchAsyncSwitchBoard(queryString, cb) {
      const query = {
        page: 1,
        limit: 5,
        deleted: 0,
        key: queryString
      }
      let results = []
      let listSwitchBoards = []
      fetctSwitchBoards(query).then(response => {
        listSwitchBoards = response.data.items
        results = listSwitchBoards.map(s => {
          return {
            value: s.switchBoard.switchName,
            key: s.switchBoard.switchId
          }
        })
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 100)
      })
    },
    handleSelectSwitchBoard(item) {
      console.log(item.key)
      this.temp.switchId = item.key
    },
    querySearchAsyncVoiceBlock(queryString, cb) {
      const query = {
        page: 1,
        limit: 5,
        deleted: 0,
        key: queryString
      }
      let results = []
      let listSwitchBoards = []
      fetctVoiceBlocks(query).then(response => {
        listSwitchBoards = response.data.items
        results = listSwitchBoards.map(s => {
          return {
            value: s.blockCode,
            key: s.voiceBlockId
          }
        })
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 100)
      })
    },
    handleSelectVoiceBlock(item) {
      console.log(item.key)
      this.temp.voiceBlockId = item.key
    },
    querySearchAsyncPartner(queryString, cb) {
      const query = {
        page: 1,
        limit: 5,
        deleted: 0,
        key: queryString
      }
      let results = []
      let listSwitchBoards = []
      fetchPartners(query).then(response => {
        listSwitchBoards = response.data.items
        results = listSwitchBoards.map(s => {
          return {
            value: s.partName,
            key: s.partnerId
          }
        })
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 100)
      })
    },
    handleSelectPartner(item) {
      console.log(item.key)
      this.temp.partnerId = item.key
    },
    getList() {
      this.listLoading = true
      fetctServices(this.listQuery).then(response => {
        this.list = response.data.items
        this.total = response.data.total
        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false
        }, 0 * 1000)
      })
    },
    resetTemp() {
      this.temp = {
        serviceId: undefined,
        serviceName: undefined,
        partnerId: undefined,
        voiceBlockId: undefined,
        serviceType: undefined,
        blockType: undefined,
        timeOffPeakId: undefined,
        isDelete: undefined,
        serviceCode: undefined,
        switchId: undefined
      }
      this.nameTemp = {
        voiceBlockCode: undefined,
        switchName: undefined,
        partnerName: undefined
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.temp.isDelete = 0
      this.temp.serviceId = 0
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          createService(this.temp).then(() => {
            const row = {
              service: this.temp,
              switchName: this.nameTemp.switchName,
              partnerName: this.nameTemp.partnerName,
              voiceBlockCode: this.nameTemp.voiceBlockCode
            }
            this.list.unshift(row)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
            this.getList()
          })
        } else {
          console.log('Not valid')
        }
      })
    },
    handleUpdate(row) {
      const obj = Object.assign({}, row)
      this.temp = obj.service
      this.nameTemp.voiceBlockCode = obj.voiceBlockCode
      this.nameTemp.switchName = obj.switchName
      this.nameTemp.partnerName = obj.partnerName
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          updateService(tempData).then(() => {
            const index = this.list.findIndex(v => v.service.serviceId === this.temp.serviceId)
            const row = {
              service: this.temp,
              switchName: this.nameTemp.switchName,
              partnerName: this.nameTemp.partnerName,
              voiceBlockCode: this.nameTemp.voiceBlockCode
            }
            this.list.splice(index, 1, row)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        } else {
          console.log('Not valid')
        }
      })
    },
    handleDelete(row, index, deleted) {
      deleteService(row.service.serviceId, deleted).then(() => {
        if (deleted) {
          this.$notify({
            title: 'Success',
            message: 'Delete Successfully',
            type: 'success',
            duration: 2000
          })
        } else {
          this.$notify({
            title: 'Success',
            message: 'Restore Successfully',
            type: 'success',
            duration: 2000
          })
        }

        this.list.splice(index, 1)
      })
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['Service Id', 'Service Name', 'Partner Id', 'Voice Block Id', 'Service Type', 'Block Type', 'Time Off Peak Id', 'Is Delete', 'Service Code', 'Switch Id']
        const filterVal = ['serviceId', 'serviceName', 'partnerId', 'voiceBlockId', 'serviceType', 'blockType', 'timeOffPeakId', 'isDelete', 'serviceCode', 'switchId']
        const data = this.formatJson(filterVal)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'services'
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal) {
      return this.list.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v['service'][j])
        } else {
          return v['service'][j]
        }
      }))
    },
    viewDelete: function() {
      this.listQuery.deleted = this.showDelete ? 1 : 0
      this.getList()
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    }
  }
}
</script>
