<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="listQuery.key" placeholder="Name" style="width: 500px;padding-right:20px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-button v-waves class="filter-item" type="primary" icon="fas fa-search" @click="handleFilter">
        Search
      </el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="fas fa-edit" @click="handleCreate">
        Add
      </el-button>
      <el-button v-waves :loading="downloadLoading" class="filter-item" type="primary" icon="fas fa-download" @click="handleDownload">
        Export
      </el-button>
      <el-checkbox v-model="showDelete" class="filter-item" style="margin-left:15px;" @change="viewDelete()">
        View deleted
      </el-checkbox>
    </div>

    <el-table
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column label="ID" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.smsCenter.smsCenterId }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Partner" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.smsCenter.partnerId }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Part Type" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.smsCenter.partType }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Prefix Number" align="center" width="150">
        <template slot-scope="{row}">
          <span>{{ row.smsCenter.prefixNumber }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Is Delete" align="center" width="100">
        <template slot-scope="{row}">
          <span v-if="row.smsCenter.isDelete">True</span>
          <span v-if="!row.smsCenter.isDelete">False</span>
        </template>
      </el-table-column>

      <el-table-column label="Actions" align="center" width="230" class-name="small-padding fixed-width">
        <template slot-scope="{row,$index}">
          <el-button v-if="!row.smsCenter.isDelete" type="primary" size="mini" @click="handleUpdate(row)">
            Edit
          </el-button>
          <el-popconfirm
            v-if="!row.smsCenter.isDelete"
            confirm-button-text="OK"
            cancel-button-text="No, Thanks"
            icon="fas fa-info-circle"
            icon-color="red"
            title="Are you sure to delete this?"
            @onConfirm="handleDelete(row,$index,1)"
          >
            <el-button slot="reference" size="mini" type="danger">
              Delete
            </el-button>
          </el-popconfirm>

          <el-popconfirm
            v-if="row.smsCenter.isDelete"
            confirm-button-text="OK"
            cancel-button-text="No, Thanks"
            icon="fas fa-info-circle"
            icon-color="red"
            title="Are you sure to restore this?"
            @onConfirm="handleDelete(row,$index,0)"
          >
            <el-button slot="reference" size="mini" type="danger">
              Restore
            </el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible" center>
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="left" label-width="130px" style="width: 400px; margin-left:50px;">
        <el-form-item v-show="dialogStatus === 'update'" label="Id" prop="smsCenterId">
          <el-input v-model="temp.smsCenterId" :disabled="true" />
        </el-form-item>

        <el-form-item label="Partner" prop="partnerId">
          <el-autocomplete
            v-model="nameTemp.partName"
            clearable
            :fetch-suggestions="querySearchAsyncPartner"
            placeholder="Please input part name"
            @select="handleSelectPartner"
          />
        </el-form-item>

        <el-form-item label="Part Type" prop="partType">
          <el-input v-model="temp.partType" />
        </el-form-item>

        <el-form-item label="Prefix Number" prop="prefixNumber">
          <el-input v-model="temp.prefixNumber" />
        </el-form-item>

        <el-form-item v-show="dialogStatus === 'update'" label="Delete" prop="isDelete">
          <el-select v-model="temp.isDelete" class="filter-item" placeholder="Please select">
            <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          Confirm
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { fetctSmsCenter, createSmsCenter, updateSmsCenter, deleteSmsCenter } from '@/api/sms-center'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
import { fetchPartners } from '@/api/partner'

const deleteOptions = [
  { key: 1, display_name: 'True' },
  { key: 0, display_name: 'False' }
]

export default {
  name: 'Country',
  components: { Pagination },
  directives: { waves },
  data() {
    return {
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        deleted: 0,
        page: 1,
        limit: 10,
        key: null
      },
      deleteOptions,
      showDelete: false,
      temp: {
        smsCenterId: undefined,
        partnerId: undefined,
        partType: undefined,
        prefixNumber: undefined,
        isDelete: undefined
      },
      nameTemp: {
        partName: undefined
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      downloadLoading: false,
      rules: {

        partnerId: [
          { required: true, message: 'PartnerId is required', trigger: 'blur' }
        ],

        partType: [
          { required: true, message: 'PartType is required', trigger: 'blur' }
        ],

        prefixNumber: [
          { required: true, message: 'PrefixNumber is required', trigger: 'blur' }
        ],

        isDelete: [
          { required: true, message: 'IsDelete is required', trigger: 'blur' }
        ]

      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    querySearchAsyncPartner(queryString, cb) {
      const query = {
        page: 1,
        limit: 5,
        deleted: 0,
        key: queryString
      }
      let results = []
      let listAreas = []
      fetchPartners(query).then(response => {
        listAreas = response.data.items
        results = listAreas.map(s => {
          return {
            value: s.partName,
            key: s.partnerId
          }
        })
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 100)
      })
    },
    handleSelectPartner(item) {
      console.log(item.key)
      this.temp.partnerId = item.key
    },
    getList() {
      this.listLoading = true
      fetctSmsCenter(this.listQuery).then(response => {
        this.list = response.data.items
        this.total = response.data.total
        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false
        }, 0 * 1000)
      })
    },
    resetTemp() {
      this.temp = {
        countryId: undefined,
        countryName: '',
        countryCode: '',
        countryPrefixNumber: '',
        addPrefix: '',
        description: '',
        delete: 0
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.temp.delete = 0
          this.temp.smsCenterId = 0
          createSmsCenter(this.temp).then(() => {
            this.list.unshift(this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
            this.getList()
          })
        } else {
          console.log('Not valid')
        }
      })
    },
    handleUpdate(row) {
      const obj = Object.assign({}, row)
      this.temp = obj.smsCenter
      this.nameTemp.partName = obj.partName
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          updateSmsCenter(tempData).then(() => {
            const index = this.list.findIndex(v => v.smsCenter.smsCenterId === this.temp.smsCenterId)
            this.list.splice(index, 1, this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        } else {
          console.log('Not valid')
        }
      })
    },
    handleDelete(row, index, deleted) {
      deleteSmsCenter(row.smsCenter.smsCenterId, deleted).then(() => {
        if (deleted) {
          this.$notify({
            title: 'Success',
            message: 'Delete Successfully',
            type: 'success',
            duration: 2000
          })
        } else {
          this.$notify({
            title: 'Success',
            message: 'Restore Successfully',
            type: 'success',
            duration: 2000
          })
        }

        this.list.splice(index, 1)
      })
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['Sms Center Id', 'Partner Id', 'Part Type', 'Prefix Number', 'Is Delete']
        const filterVal = ['smsCenterId', 'partnerId', 'partType', 'prefixNumber', 'isDelete']
        const data = this.formatJson(filterVal)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'smscenters'
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal) {
      return this.list.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v.smsCenter[j])
        } else {
          return v.smsCenter[j]
        }
      }))
    },
    viewDelete: function() {
      this.listQuery.deleted = this.showDelete ? 1 : 0
      this.getList()
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    }
  }
}
</script>
