<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="listQuery.key" placeholder="ProcessCode" style="width: 500px;padding-right:20px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-button v-waves class="filter-item" type="primary" icon="fas fa-search" @click="handleFilter">
        Search
      </el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="fas fa-edit" @click="handleCreate">
        Add
      </el-button>
      <el-button v-waves :loading="downloadLoading" class="filter-item" type="primary" icon="fas fa-download" @click="handleDownload">
        Export
      </el-button>
      <el-checkbox v-model="showDelete" class="filter-item" style="margin-left:15px;" @change="viewDelete()">
        View deleted
      </el-checkbox>
    </div>

    <el-table
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column label="ID" align="center" width="50">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.standardizeId }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Domain Code" align="center" width="80">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.domainCode }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Process Code" align="center" width="80">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.processCode }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Description" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.description }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Txt FileName Template" align="center" width="180">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.txtFileNameTemplate }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Min Seq" align="center" width="75">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.minSeq }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Max Seq" align="center" width="80">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.maxSeq }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Input Dir" align="center" width="80">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.inputDir }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Unrated Dir" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.unratedDir }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Rated Dir" align="center" width="85">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.ratedDir }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Backup Dir" align="center" width="95">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.backupDir }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Stop When Error" align="center" width="95">
        <template slot-scope="{row}">
          <span v-if="row.standardizeProcessParam.stopWhenError">True</span>
          <span v-if="!row.standardizeProcessParam.stopWhenError">False</span>
        </template>
      </el-table-column>

      <el-table-column label="Warning Type" align="center" width="85">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.warningType }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Delay Time" align="center" width="95">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.delayTime }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Log File Path" align="center" width="110">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.logFilePath }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Standardize Class Name" align="center" width="105">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.standardizeClassName }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Standardize Param Path" align="center" width="105">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.standardizeParamPath }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Rated FileName Template" align="center" width="130">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.ratedFileNameTemplate }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Time Type" align="center" width="90">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.timeType }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Time Delay" align="center" width="95">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.timeDelay }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Is Backup" align="center" width="90">
        <template slot-scope="{row}">
          <span v-if="row.standardizeProcessParam.isBackup">True</span>
          <span v-if="!row.standardizeProcessParam.isBackup">False</span>
        </template>
      </el-table-column>

      <el-table-column label="Is Cript" align="center" width="70">
        <template slot-scope="{row}">
          <span v-if="row.standardizeProcessParam.isCript">True</span>
          <span v-if="!row.standardizeProcessParam.isCript">False</span>
        </template>
      </el-table-column>

      <el-table-column label="Switch Name" align="center" width="110">
        <template slot-scope="{row}">
          <span>{{ row.switchName }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Script Body" align="center" width="300">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.scriptBody }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Is Load From Db" align="center" width="115">
        <template slot-scope="{row}">
          <span v-if="row.standardizeProcessParam.isLoadFromDb">True</span>
          <span v-if="!row.standardizeProcessParam.isLoadFromDb">False</span>
        </template>
      </el-table-column>

      <el-table-column label="Load Table Name" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.loadTableName }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Import Domain Code" align="center" width="120">
        <template slot-scope="{row}">
          <span>{{ row.standardizeProcessParam.importDomainCode }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Is Delete" align="center" width="80">
        <template slot-scope="{row}">
          <span v-if="row.standardizeProcessParam.isDelete">True</span>
          <span v-if="!row.standardizeProcessParam.isDelete">False</span>
        </template>
      </el-table-column>

      <el-table-column label="Actions" align="center" width="230" class-name="small-padding fixed-width">
        <template slot-scope="{row,$index}">
          <el-button v-if="!row.standardizeProcessParam.isDelete" type="primary" size="mini" @click="handleUpdate(row)">
            Edit
          </el-button>
          <el-popconfirm
            v-if="!row.standardizeProcessParam.isDelete"
            confirm-button-text="OK"
            cancel-button-text="No, Thanks"
            icon="fas fa-info-circle"
            icon-color="red"
            title="Are you sure to delete this?"
            @onConfirm="handleDelete(row,$index,1)"
          >
            <el-button slot="reference" size="mini" type="danger">
              Delete
            </el-button>
          </el-popconfirm>

          <el-popconfirm
            v-if="row.standardizeProcessParam.isDelete"
            confirm-button-text="OK"
            cancel-button-text="No, Thanks"
            icon="fas fa-info-circle"
            icon-color="red"
            title="Are you sure to restore this?"
            @onConfirm="handleDelete(row,$index,0)"
          >
            <el-button slot="reference" size="mini" type="danger">
              Restore
            </el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible" top center width="90%">
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="left" label-width="195px" style="width: 90%; margin-left:50px;">
        <el-row :gutter="20">
          <el-col :span="12">
            <el-form-item v-show="dialogStatus === 'update'" label="ID" prop="standardizeId">
              <el-input v-model="temp.standardizeId" :disabled="true" />
            </el-form-item>
            <el-form-item label="Domain Code" prop="domainCode">
              <el-input v-model="temp.domainCode" />
            </el-form-item>
            <el-form-item label="Process Code" prop="processCode">
              <el-input v-model="temp.processCode" />
            </el-form-item>
            <el-form-item label="Description" prop="description">
              <el-input v-model="temp.description" />
            </el-form-item>
            <el-form-item label="Txt File Name Template" prop="txtFileNameTemplate">
              <el-input v-model="temp.txtFileNameTemplate" />
            </el-form-item>
            <el-form-item label="MinSeq" prop="minSeq">
              <el-input v-model="temp.minSeq" />
            </el-form-item>
            <el-form-item label="MaxSeq" prop="maxSeq">
              <el-input v-model="temp.maxSeq" />
            </el-form-item>
            <el-form-item label="Input Dir" prop="inputDir">
              <el-input v-model="temp.inputDir" />
            </el-form-item>
            <el-form-item label="Unrated Dir" prop="unratedDir">
              <el-input v-model="temp.unratedDir" />
            </el-form-item>
            <el-form-item label="Rated Dir" prop="ratedDir">
              <el-input v-model="temp.ratedDir" />
            </el-form-item>
            <el-form-item label="Backup Dir" prop="backupDir">
              <el-input v-model="temp.backupDir" />
            </el-form-item>
            <el-form-item label="Stop When Error" prop="stopWhenError">
              <el-select v-model="temp.stopWhenError" class="filter-item" placeholder="Please select">
                <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
              </el-select>
            </el-form-item>
            <el-form-item label="Warning Type" prop="warningType">
              <el-input v-model="temp.warningType" />
            </el-form-item>
            <el-form-item label="Delay Time" prop="delayTime">
              <el-input v-model="temp.delayTime" />
            </el-form-item>

          </el-col>
          <el-col :span="12">
            <el-form-item label="Log File Path" prop="logFilePath">
              <el-input v-model="temp.logFilePath" />
            </el-form-item>
            <el-form-item label="StandardizeClass Name" prop="standardizeClassName">
              <el-input v-model="temp.standardizeClassName" />
            </el-form-item>
            <el-form-item label="StandardizeParam Path" prop="standardizeParamPath">
              <el-input v-model="temp.standardizeParamPath" />
            </el-form-item>
            <el-form-item label="Rated File Name Template" prop="ratedFileNameTemplate">
              <el-input v-model="temp.ratedFileNameTemplate" />
            </el-form-item>
            <el-form-item label="Time Type" prop="timeType">
              <el-input v-model="temp.timeType" />
            </el-form-item>
            <el-form-item label="Time Delay" prop="timeDelay">
              <el-input v-model="temp.timeDelay" />
            </el-form-item>
            <el-form-item label="Is Backup" prop="isBackup">
              <el-select v-model="temp.isBackup" class="filter-item" placeholder="Please select">
                <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
              </el-select>
            </el-form-item>
            <el-form-item label="Is Cript" prop="isCript">
              <el-select v-model="temp.isCript" class="filter-item" placeholder="Please select">
                <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
              </el-select>
            </el-form-item>
            <el-form-item label="Script Body" prop="scriptBody">
              <el-input v-model="temp.scriptBody" type="textarea" />
            </el-form-item>
            <el-form-item label="Is Load From Db" prop="isLoadFromDb">
              <el-select v-model="temp.isLoadFromDb" class="filter-item" placeholder="Please select">
                <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
              </el-select>
            </el-form-item>
            <el-form-item label="Load Table Name" prop="loadTableName">
              <el-input v-model="temp.loadTableName" />
            </el-form-item>
            <el-form-item label="Import Domain Code" prop="importDomainCode">
              <el-input v-model="temp.importDomainCode" />
            </el-form-item>
            <el-form-item label="Switch Name" prop="switchId">
              <el-autocomplete
                v-model="nameTemp.switchName"
                clearable
                :fetch-suggestions="querySearchAsync"
                placeholder="Please input switchName"
                @select="handleSelect"
              />
            </el-form-item>
            <el-form-item label="Is Delete" prop="isDelete">
              <el-select v-model="temp.isDelete" class="filter-item" placeholder="Please select">
                <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          Confirm
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { fetctStandardizeParams, updateStandardizeParam, createStandardizeParam, deleteStandardizeParam } from '@/api/standardize-process-param'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
import { fetctSwitchBoards } from '@/api/switchboard'

const deleteOptions = [
  { key: 1, display_name: 'True' },
  { key: 0, display_name: 'False' }
]

export default {
  name: 'Country',
  components: { Pagination },
  directives: { waves },
  data() {
    return {
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        deleted: 0,
        page: 1,
        limit: 10,
        key: null
      },
      deleteOptions,
      showDelete: false,
      temp: {
        standardizeId: undefined,
        domainCode: undefined,
        processCode: undefined,
        description: undefined,
        txtFileNameTemplate: undefined,
        minSeq: undefined,
        maxSeq: undefined,
        inputDir: undefined,
        unratedDir: undefined,
        ratedDir: undefined,
        backupDir: undefined,
        stopWhenError: undefined,
        warningType: undefined,
        delayTime: undefined,
        logFilePath: undefined,
        standardizeClassName: undefined,
        standardizeParamPath: undefined,
        ratedFileNameTemplate: undefined,
        timeType: undefined,
        timeDelay: undefined,
        isDelete: undefined,
        isBackup: undefined,
        isCript: undefined,
        switchId: undefined,
        scriptBody: undefined,
        isLoadFromDb: undefined,
        loadTableName: undefined,
        importDomainCode: undefined
      },
      nameTemp: {
        switchName: ''
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      downloadLoading: false,
      rules: {

        domainCode: [
          { required: true, message: 'DomainCode is required', trigger: 'blur' }
        ],

        processCode: [
          { required: true, message: 'ProcessCode is required', trigger: 'blur' }
        ],

        description: [
          { required: true, message: 'Description is required', trigger: 'blur' }
        ],

        txtFileNameTemplate: [
          { required: true, message: 'TxtFileNameTemplate is required', trigger: 'blur' }
        ],

        minSeq: [
          { required: true, message: 'MinSeq is required', trigger: 'blur' }
        ],

        maxSeq: [
          { required: true, message: 'MaxSeq is required', trigger: 'blur' }
        ],

        inputDir: [
          { required: true, message: 'InputDir is required', trigger: 'blur' }
        ],

        unratedDir: [
          { required: true, message: 'UnratedDir is required', trigger: 'blur' }
        ],

        ratedDir: [
          { required: true, message: 'RatedDir is required', trigger: 'blur' }
        ],

        backupDir: [
          { required: true, message: 'BackupDir is required', trigger: 'blur' }
        ],

        stopWhenError: [
          { required: true, message: 'StopWhenError is required', trigger: 'blur' }
        ],

        warningType: [
          { required: true, message: 'WarningType is required', trigger: 'blur' }
        ],

        delayTime: [
          { required: true, message: 'DelayTime is required', trigger: 'blur' }
        ],

        logFilePath: [
          { required: true, message: 'LogFilePath is required', trigger: 'blur' }
        ],

        standardizeClassName: [
          { required: true, message: 'StandardizeClassName is required', trigger: 'blur' }
        ],

        standardizeParamPath: [
          { required: true, message: 'StandardizeParamPath is required', trigger: 'blur' }
        ],

        ratedFileNameTemplate: [
          { required: true, message: 'RatedFileNameTemplate is required', trigger: 'blur' }
        ],

        timeType: [
          { required: true, message: 'TimeType is required', trigger: 'blur' }
        ],

        timeDelay: [
          { required: true, message: 'TimeDelay is required', trigger: 'blur' }
        ],

        isDelete: [
          { required: true, message: 'IsDelete is required', trigger: 'change' }
        ],

        isBackup: [
          { required: true, message: 'IsBackup is required', trigger: 'change' }
        ],

        isCript: [
          { required: true, message: 'IsCript is required', trigger: 'change' }
        ],

        switchId: [
          { required: true, message: 'SwitchId is required', trigger: 'change' }
        ],

        // scriptBody: [
        //   { required: true, message: 'ScriptBody is required', trigger: 'blur' }
        // ],

        isLoadFromDb: [
          { required: true, message: 'IsLoadFromDb is required', trigger: 'change' }
        ],

        // loadTableName: [
        //   { required: true, message: 'LoadTableName is required', trigger: 'blur' }
        // ],

        importDomainCode: [
          { required: true, message: 'ImportDomainCode is required', trigger: 'blur' }
        ]
      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    querySearchAsync(queryString, cb) {
      const query = {
        page: 1,
        limit: 5,
        deleted: 0,
        key: queryString
      }
      let results = []
      let listSwitchBoards = []
      fetctSwitchBoards(query).then(response => {
        listSwitchBoards = response.data.items
        results = listSwitchBoards.map(s => {
          return {
            value: s.switchBoard.switchName,
            key: s.switchBoard.switchId
          }
        })
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 100)
      })
    },
    handleSelect(item) {
      console.log(item.key)
      this.temp.switchId = item.key
    },
    getList() {
      this.listLoading = true
      fetctStandardizeParams(this.listQuery).then(response => {
        this.list = response.data.items
        this.total = response.data.total
        console.log(this.list)
        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false
        }, 0 * 1000)
      })
    },
    resetTemp() {
      this.nameTemp = {
        switchName: ''
      }
      this.temp = {
        standardizeId: undefined,
        domainCode: undefined,
        processCode: undefined,
        description: undefined,
        txtFileNameTemplate: undefined,
        minSeq: undefined,
        maxSeq: undefined,
        inputDir: undefined,
        unratedDir: undefined,
        ratedDir: undefined,
        backupDir: undefined,
        stopWhenError: undefined,
        warningType: undefined,
        delayTime: undefined,
        logFilePath: undefined,
        standardizeClassName: undefined,
        standardizeParamPath: undefined,
        ratedFileNameTemplate: undefined,
        timeType: undefined,
        timeDelay: undefined,
        isDelete: undefined,
        isBackup: undefined,
        isCript: undefined,
        switchId: undefined,
        scriptBody: undefined,
        isLoadFromDb: undefined,
        loadTableName: undefined,
        importDomainCode: undefined
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.temp.isDelete = 0
          this.temp.standardizeId = 0
          createStandardizeParam(this.temp).then(() => {
            const row = {
              standardizeProcessParam: this.temp,
              switchName: this.nameTemp.switchName
            }
            this.list.unshift(row)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
            this.getList()
          })
        } else {
          console.log('Not valid')
        }
      })
    },
    handleUpdate(row) {
      const obj = Object.assign({}, row)
      this.temp = obj.standardizeProcessParam
      this.nameTemp.switchName = obj.switchName
      // if (this.nameTemp.switchName === null){
      //   this.nameTemp.switchName = "Id " + this.temp.switchId + " is not mapped"
      // }
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          updateStandardizeParam(tempData).then(() => {
            const index = this.list.findIndex(v => v.standardizeProcessParam.standardizeId === this.temp.standardizeId)
            const row = {
              standardizeProcessParam: this.temp,
              switchName: this.nameTemp.switchName
            }
            this.list.splice(index, 1, row)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        } else {
          console.log('Not valid')
        }
      })
    },
    handleDelete(row, index, deleted) {
      deleteStandardizeParam(row.standardizeProcessParam.standardizeId, deleted).then(() => {
        if (deleted) {
          this.$notify({
            title: 'Success',
            message: 'Delete Successfully',
            type: 'success',
            duration: 2000
          })
        } else {
          this.$notify({
            title: 'Success',
            message: 'Restore Successfully',
            type: 'success',
            duration: 2000
          })
        }

        this.list.splice(index, 1)
      })
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['Standardize Id', 'Domain Code', 'Process Code', 'Description', 'TxtFileName Template', 'Min Seq', 'Max Seq', 'Input Dir', 'Unrated Dir', 'Rated Dir', 'Backup Dir', 'Stop When Error', 'Warning Type', 'Delay Time', 'Log File Path', 'Standardize Class Name', 'Standardize Param Path', 'Rated File Name Template', 'Time Type', 'Time Delay', 'Is Delete', 'Is Backup', 'Is Cript', 'Switch Id', 'Script Body', 'Is Load From Db', 'Load Table Name', 'Import Domain Code']
        const filterVal = ['standardizeId', 'domainCode', 'processCode', 'description', 'txtFileNameTemplate', 'minSeq', 'maxSeq', 'inputDir', 'unratedDir', 'ratedDir', 'backupDir', 'stopWhenError', 'warningType', 'delayTime', 'logFilePath', 'standardizeClassName', 'standardizeParamPath', 'ratedFileNameTemplate', 'timeType', 'timeDelay', 'isDelete', 'isBackup', 'isCript', 'switchId', 'scriptBody', 'isLoadFromDb', 'loadTableName', 'importDomainCode']
        const data = this.formatJson(filterVal)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'standardize_process_params'
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal) {
      return this.list.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v['standardizeProcessParam'][j])
        } else {
          return v['standardizeProcessParam'][j]
        }
      }))
    },
    viewDelete: function() {
      this.listQuery.deleted = this.showDelete ? 1 : 0
      this.getList()
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    }
  }
}
</script>
