<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="listQuery.key" placeholder="SwitchName" style="width: 500px;padding-right:20px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-button v-waves class="filter-item" type="primary" icon="fas fa-search" @click="handleFilter">
        Search
      </el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="fas fa-edit" @click="handleCreate">
        Add
      </el-button>
      <el-button v-waves :loading="downloadLoading" class="filter-item" type="primary" icon="fas fa-download" @click="handleDownload">
        Export
      </el-button>
      <el-checkbox v-model="showDelete" class="filter-item" style="margin-left:15px;" @change="viewDelete()">
        View deleted
      </el-checkbox>
    </div>

    <el-table
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column label="ID" align="center" width="60">
        <template slot-scope="{row}">
          <span>{{ row.switchBoard.switchId }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Switch Name" align="center" width="110">
        <template slot-scope="{row}">
          <span>{{ row.switchBoard.switchName }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Place" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.switchBoard.place }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Company" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.switchBoard.company }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Switch Type" align="center" width="110">
        <template slot-scope="{row}">
          <span>{{ row.switchBoard.switchType }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Short For" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.switchBoard.shortFor }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Area Name" align="center" width="100">
        <template slot-scope="{row}">
          <span>{{ row.areaName }}</span>
        </template>
      </el-table-column>

      <el-table-column label="Is Delete" align="center" width="100">
        <template slot-scope="{row}">
          <span v-if="row.switchBoard.isDelete">True</span>
          <span v-if="!row.switchBoard.isDelete">False</span>
        </template>
      </el-table-column>

      <el-table-column label="Actions" align="center" width="230" class-name="small-padding fixed-width">
        <template slot-scope="{row,$index}">
          <el-button v-if="!row.switchBoard.isDelete" type="primary" size="mini" @click="handleUpdate(row)">
            Edit
          </el-button>
          <el-popconfirm
            v-if="!row.switchBoard.isDelete"
            confirm-button-text="OK"
            cancel-button-text="No, Thanks"
            icon="fas fa-info-circle"
            icon-color="red"
            title="Are you sure to delete this?"
            @onConfirm="handleDelete(row,$index,1)"
          >
            <el-button slot="reference" size="mini" type="danger">
              Delete
            </el-button>
          </el-popconfirm>

          <el-popconfirm
            v-if="row.switchBoard.isDelete"
            confirm-button-text="OK"
            cancel-button-text="No, Thanks"
            icon="fas fa-info-circle"
            icon-color="red"
            title="Are you sure to restore this?"
            @onConfirm="handleDelete(row,$index,0)"
          >
            <el-button slot="reference" size="mini" type="danger">
              Restore
            </el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible" center>
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="left" label-width="130px" style="width: 400px; margin-left:50px;">
        <el-form-item v-show="dialogStatus === 'update'" label="Id" prop="switchId">
          <el-input v-model="temp.switchId" :disabled="true" />
        </el-form-item>
        <el-form-item label="Switch Name" prop="switchName">
          <el-input v-model="temp.switchName" />
        </el-form-item>
        <el-form-item label="Place" prop="place">
          <el-input v-model="temp.place" />
        </el-form-item>
        <el-form-item label="Company" prop="company">
          <el-input v-model="temp.company" />
        </el-form-item>
        <el-form-item label="Switch Type" prop="switchType">
          <el-input v-model="temp.switchType" />
        </el-form-item>
        <el-form-item label="Short For" prop="shortFor">
          <el-input v-model="temp.shortFor" />
        </el-form-item>
        <el-form-item label="Area Id" prop="areaId">
          <el-autocomplete
            v-model="nameTemp.areaName"
            clearable
            :fetch-suggestions="querySearchAsync"
            placeholder="Please input areaName"
            @select="handleSelect"
          />
        </el-form-item>
        <el-form-item v-show="dialogStatus === 'update'" label="Delete" prop="isDelete">
          <el-select v-model="temp.isDelete" class="filter-item" placeholder="Please select">
            <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Cancel
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          Confirm
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { fetctSwitchBoards, createSwitchBoard, updateSwitchBoard, deleteSwitchBoard } from '@/api/switchboard'
import waves from '@/directive/waves' // waves directive
import { parseTime } from '@/utils'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
import { fetctAreas } from '@/api/area'

const deleteOptions = [
  { key: 1, display_name: 'True' },
  { key: 0, display_name: 'False' }
]

export default {
  name: 'Country',
  components: { Pagination },
  directives: { waves },
  data() {
    return {
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        deleted: 0,
        page: 1,
        limit: 10,
        key: null
      },
      deleteOptions,
      showDelete: false,
      temp: {
        switchId: undefined,
        switchName: undefined,
        place: undefined,
        company: undefined,
        switchType: undefined,
        isDelete: undefined,
        shortFor: undefined,
        areaId: undefined
      },
      nameTemp: {
        areaName: undefined
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      downloadLoading: false,
      rules: {

        switchName: [
          { required: true, message: 'SwitchName is required', trigger: 'blur' }
        ],

        place: [
          { required: true, message: 'Place is required', trigger: 'blur' }
        ],

        company: [
          { required: true, message: 'Company is required', trigger: 'blur' }
        ],

        switchType: [
          { required: true, message: 'SwitchType is required', trigger: 'blur' }
        ],

        isDelete: [
          { required: true, message: 'IsDelete is required', trigger: 'blur' }
        ],

        shortFor: [
          { required: true, message: 'ShortFor is required', trigger: 'blur' }
        ],

        areaId: [
          { required: true, message: 'AreaId is required', trigger: 'blur' }
        ]
      }
    }
  },
  created() {
    this.getList()
  },
  methods: {
    querySearchAsync(queryString, cb) {
      const query = {
        page: 1,
        limit: 5,
        deleted: 0,
        key: queryString
      }
      let results = []
      let listAreas = []
      fetctAreas(query).then(response => {
        listAreas = response.data.items
        results = listAreas.map(s => {
          return {
            value: s.name,
            key: s.areaId
          }
        })
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 100)
      })
    },
    handleSelect(item) {
      console.log(item.key)
      this.temp.areaId = item.key
    },
    getList() {
      this.listLoading = true
      fetctSwitchBoards(this.listQuery).then(response => {
        this.list = response.data.items
        this.total = response.data.total
        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false
        }, 0 * 1000)
      })
    },
    resetTemp() {
      this.temp = {
        switchId: undefined,
        switchName: undefined,
        place: undefined,
        company: undefined,
        switchType: undefined,
        isDelete: undefined,
        shortFor: undefined,
        areaId: undefined
      }
      this.nameTemp = {
        areaName: undefined
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.temp.isDelete = 0
      this.temp.switchId = 0
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          createSwitchBoard(this.temp).then(() => {
            const row = {
              switchBoard: this.temp,
              areaName: this.nameTemp.areaName
            }
            this.list.unshift(row)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
            this.getList()
          })
        } else {
          console.log('Not valid')
        }
      })
    },
    handleUpdate(row) {
      const obj = Object.assign({}, row)
      this.temp = obj.switchBoard
      this.nameTemp.areaName = obj.areaName
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          updateSwitchBoard(tempData).then(() => {
            const index = this.list.findIndex(v => v.switchBoard.switchId === this.temp.switchId)
            const row = {
              switchBoard: this.temp,
              areaName: this.nameTemp.areaName
            }
            this.list.splice(index, 1, this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        } else {
          console.log('Not valid')
        }
      })
    },
    handleDelete(row, index, deleted) {
      deleteSwitchBoard(row.switchBoard.switchId, deleted).then(() => {
        if (deleted) {
          this.$notify({
            title: 'Success',
            message: 'Delete Successfully',
            type: 'success',
            duration: 2000
          })
        } else {
          this.$notify({
            title: 'Success',
            message: 'Restore Successfully',
            type: 'success',
            duration: 2000
          })
        }

        this.list.splice(index, 1)
      })
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['Switch Id', 'Switch Name', 'Place', 'Company', 'Switch Type', 'Is Delete', 'Short For', 'Area Id']
        const filterVal = ['switchId', 'switchName', 'place', 'company', 'switchType', 'isDelete', 'shortFor', 'areaId']
        const data = this.formatJson(filterVal)
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'switch_boards'
        })
        this.downloadLoading = false
      })
    },
    formatJson(filterVal) {
      return this.list.map(v => filterVal.map(j => {
        if (j === 'timestamp') {
          return parseTime(v['switchBoard'][j])
        } else {
          return v['switchBoard'][j]
        }
      }))
    },
    viewDelete: function() {
      this.listQuery.deleted = this.showDelete ? 1 : 0
      this.getList()
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    }
  }
}
</script>
