<template>
  <div class="app-container">
    <loading
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="true"
    />
    <div>
      <el-row style="padding-bottom:20px;">
        <el-col :span="8">
          <div style="display:inline-block;padding-right:20px;">
            <label class="radio-label" style="padding-left:0;">Partner: </label>
            <el-autocomplete
              v-model="partname"
              clearable
              :fetch-suggestions="querySearchAsyncPartner"
              placeholder="Please input partname"
              @select="handleSelectPartner"
            />
          </div>
        </el-col>

        <el-col :span="8">
          <div style="display:inline-block;padding-right:20px;">
            <label class="radio-label" style="padding-left:0;">Inter Type: </label>
            <el-select v-model="interType" class="filter-item" placeholder="Please select">
              <el-option v-for="item in interTypeOptions" :key="item.key" :label="item.display_name" :value="item.key" />
            </el-select>
          </div>
        </el-col>

        <el-col :span="8">
          <div style="display:inline-block;">
            <label class="radio-label" style="padding-left:0;">Direction: </label>
            <el-select v-model="direction" class="filter-item" placeholder="Please select">
              <el-option v-for="item in directionOptions" :key="item.key" :label="item.display_name" :value="item.key" />
            </el-select>
          </div>
        </el-col>
      </el-row>

      <hr>

      <div>
        <el-button v-if="!isLoadData" :loading="listLoading" style="margin:0 0 20px 20px;" type="primary" icon="el-icon-document" @click="handleView">
          Download Inter Price
        </el-button>
        <el-button v-if="isLoadData" :loading="downloadLoading" style="margin:0 0 20px 20px;" type="primary" icon="el-icon-document" @click="handleDownload">
          Export Excel
        </el-button>
        <el-button v-if="isLoadData" style="margin:0 0 20px 20px;" type="danger" icon="el-icon-document" @click="handleClose">
          Close
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
import { fetchList } from '@/api/article'
import { parseTime } from '@/utils'
// options components
import FilenameOption from './components/FilenameOption'
import AutoWidthOption from './components/AutoWidthOption'
import BookTypeOption from './components/BookTypeOption'
import { fetchReportCategories } from '@/api/report-category'
import { fetctInterPrice } from '@/api/inter-price'
import { fetchPartners } from '@/api/partner'
// Import component
import Loading from 'vue-loading-overlay'
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css'

const directionOptions = [
  { key: 'I', display_name: 'In' },
  { key: 'O', display_name: 'Out' }
]

const interTypeOptions = [
  { key: 'VOICE', display_name: 'VOICE' },
  { key: 'SMS', display_name: 'SMS' }
]

export default {
  name: 'ExportExcel',
  components: {
    Loading
  },
  data() {
    return {
      isLoading: false,
      listLoading: false,
      directionOptions,
      interTypeOptions,
      headers: undefined,
      headersLength: undefined,
      downloadLoading: false,
      isLoadData: false,
      filename: '',
      partnerId: undefined,
      partname: undefined,
      interType: undefined,
      direction: undefined
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    formatDate(d) {
      d = new Date(d)
      const ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(d)
      const mo = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(d)
      const da = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(d)
      return ye + '-' + mo + '-' + da
    },
    querySearchAsyncPartner(queryString, cb) {
      const query = {
        page: 1,
        limit: 5,
        deleted: 0,
        key: queryString
      }
      let results = []
      let listSwitchBoards = []
      fetchPartners(query).then(response => {
        listSwitchBoards = response.data.items
        results = listSwitchBoards.map(s => {
          return {
            value: s.partName,
            key: s.partnerId
          }
        })
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 100)
      })
    },
    handleSelectPartner(item) {
      console.log(item.key)
      this.partnerId = item.key
    },
    fetchData() {
      this.listLoading = false
      // fetchList().then(response => {
      //   this.list = response.data.items
      //   this.listLoading = false
      // })
    },
    handleView() {
      if (this.partnerId === undefined || this.interType === undefined || this.direction === undefined) {
        this.$notify({
          title: 'Error',
          message: 'Missing partner, interType or direction.',
          type: 'error',
          duration: 2000
        })
      } else {
        this.isLoading = true
        this.listLoading = true
        const query = {
          partnerId: this.partnerId,
          interType: this.interType,
          direction: this.direction
        }
        fetctInterPrice(query).then(response => {
          const blob = new Blob([response.data], { type: 'application/xlsx' })
          const link = document.createElement('a')
          link.href = window.URL.createObjectURL(blob)
          link.download = this.partname + '_' + this.interType + '_' + this.direction + '.xlsx'
          link.click()
          this.isLoading = false
          this.listLoading = false
        }).catch(e => {
          this.isLoading = false
          this.listLoading = false
        })
      }
    },
    handleClose() {
      this.isLoadData = !this.isLoadData
      this.list = null
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = this.headers
        const data = this.list
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: this.filename,
          autoWidth: this.autoWidth,
          bookType: this.bookType
        })
        this.downloadLoading = false
      })
    },
    formatJson(data) {
      return data.map(v => Object.assign({}, v))
    }
  }
}
</script>

<style>
.radio-label {
  font-size: 14px;
  color: #606266;
  line-height: 40px;
  padding: 0 12px 0 30px;
}
</style>
