<template>
  <div class="app-container">
    <loading
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="true"
    />
    <div>
      <el-row style="padding-bottom:20px;">
        <el-col :span="8">
          <div style="display:inline-block;padding-right:20px;">
            <label class="radio-label" style="padding-left:0;">Category: </label>
            <el-autocomplete
              v-model="category"
              clearable
              :fetch-suggestions="querySearchAsync"
              placeholder="Please input report name"
              @select="handleSelect"
            />
          </div>
        </el-col>
        <el-col :span="8">
          <div style="display:inline-block;padding-right:20px;">
            <label class="radio-label" style="padding-left:0;">Partner: </label>
            <el-autocomplete
              v-model="partname"
              clearable
              :fetch-suggestions="querySearchAsyncPartner"
              placeholder="Please input partname"
              @select="handleSelectPartner"
            />
          </div>
        </el-col>
        <el-col :span="8">
          <div style="display:inline-block;">
            <label class="radio-label" style="padding-left:0;">Date: </label>
            <el-date-picker
              v-model="date"
              type="date"
              placeholder="Pick a day"
            />
          </div>
        </el-col>
        <!-- <el-col :span="8">
          <div style="display:inline-block;">
            <label class="radio-label" style="padding-left:0;">To Date: </label>
            <el-date-picker
              v-model="toDate"
              type="date"
              placeholder="Pick a day">
            </el-date-picker>
          </div>
        </el-col> -->
      </el-row>

      <hr>

      <el-row v-if="isLoadData" style="padding-top:20px;padding-bottom:20px;">
        <el-col :span="8"><FilenameOption v-model="filename" /></el-col>
        <el-col :span="10"><AutoWidthOption v-model="autoWidth" /></el-col>
        <el-col :span="6"><BookTypeOption v-model="bookType" /></el-col>
      </el-row>

      <div>
        <el-button v-if="!isLoadData" :loading="listLoading" style="margin:0 0 20px 20px;" type="primary" icon="el-icon-document" @click="handleView">
          Download Report
        </el-button>
        <el-button v-if="isLoadData" :loading="downloadLoading" style="margin:0 0 20px 20px;" type="primary" icon="el-icon-document" @click="handleDownload">
          Export Excel
        </el-button>
        <el-button v-if="isLoadData" style="margin:0 0 20px 20px;" type="danger" icon="el-icon-document" @click="handleClose">
          Close
        </el-button>
      </div>
    </div>

    <!-- <el-table v-loading="listLoading" :data="list" element-loading-text="Loading..." border fit highlight-current-row>

      <el-table-column v-for="i in headersLength" :key="i" align="center"  :label="headers[i-1]" width="120">
        <template slot-scope="scope">
          {{ scope.row[i-1] }}
        </template>
      </el-table-column>
    </el-table> -->
  </div>
</template>

<script>
import { fetchList } from '@/api/article'
import { parseTime } from '@/utils'
// options components
import FilenameOption from './components/FilenameOption'
import AutoWidthOption from './components/AutoWidthOption'
import BookTypeOption from './components/BookTypeOption'
import { fetchReportCategories } from '@/api/report-category'
import { fetctReport } from '@/api/report'
import { fetchPartners } from '@/api/partner'
// Import component
import Loading from 'vue-loading-overlay'
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css'

export default {
  name: 'ExportExcel',
  components: { FilenameOption, AutoWidthOption, BookTypeOption },
  components: {
    Loading
  },
  data() {
    return {
      isLoading: false,
      headers: undefined,
      headersLength: undefined,
      list: null,
      listLoading: true,
      downloadLoading: false,
      isLoadData: false,
      filename: '',
      categoryId: undefined,
      category: undefined,
      partnerId: undefined,
      partname: undefined,
      date: undefined,
      autoWidth: true,
      bookType: 'xlsx'
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    formatDate(d) {
      d = new Date(d)
      const ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(d)
      const mo = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(d)
      const da = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(d)
      return ye + '-' + mo + '-' + da
    },
    querySearchAsyncPartner(queryString, cb) {
      const query = {
        page: 1,
        limit: 5,
        deleted: 0,
        key: queryString
      }
      let results = []
      let listSwitchBoards = []
      fetchPartners(query).then(response => {
        listSwitchBoards = response.data.items
        results = listSwitchBoards.map(s => {
          return {
            value: s.partName,
            key: s.partnerId
          }
        })
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 100)
      })
    },
    handleSelectPartner(item) {
      console.log(item.key)
      this.partnerId = item.key
    },
    querySearchAsync(queryString, cb) {
      const query = {
        page: 1,
        limit: 8,
        deleted: 1,
        key: queryString
      }
      let results = []
      let listAreas = []
      fetchReportCategories(query).then(response => {
        listAreas = response.data.items
        console.log(response)
        results = listAreas.map(s => {
          return {
            value: s.reportName,
            key: s.reportId
          }
        })
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 100)
      })
    },
    handleSelect(item) {
      console.log(item.key)
      this.categoryId = item.key
    },
    fetchData() {
      this.listLoading = false
      // fetchList().then(response => {
      //   this.list = response.data.items
      //   this.listLoading = false
      // })
    },
    handleView() {
      if (this.categoryId === undefined || this.date === undefined) {
        this.$notify({
          title: 'Error',
          message: 'Missing category or date.',
          type: 'error',
          duration: 2000
        })
      } else {
        this.isLoading = true
        this.listLoading = true
        const query = {
          categoryId: this.categoryId,
          partnerId: this.partnerId,
          date: this.date
        }
        fetctReport(query).then(response => {
          const blob = new Blob([response.data], { type: 'application/xlsx' })
          const link = document.createElement('a')
          link.href = window.URL.createObjectURL(blob)
          let name = this.partname
          if (name === undefined) {
            name = 'All'
          }
          link.download = name + '_' + this.category + '_' + this.formatDate(this.date) + '.xlsx'
          link.click()
          this.isLoading = false
          this.listLoading = false
        }).catch(e => {
          this.isLoading = falses
          this.listLoading = false
        })
      }
    },
    handleClose() {
      this.isLoadData = !this.isLoadData
      this.list = null
    },
    handleDownload() {
      this.downloadLoading = true
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = this.headers
        const data = this.list
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: this.filename,
          autoWidth: this.autoWidth,
          bookType: this.bookType
        })
        this.downloadLoading = false
      })
    },
    formatJson(data) {
      return data.map(v => Object.assign({}, v))
    }
  }
}
</script>

<style>
.radio-label {
  font-size: 14px;
  color: #606266;
  line-height: 40px;
  padding: 0 12px 0 30px;
}
</style>
