<template>
  <div class="app-container">
    <loading
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="true"
    />
    <el-form ref="dataForm" :rules="rules" :model="temp" label-position="left" label-width="150px" style="width: 90%; margin-left:50px;">
      <el-row>
        <el-col :span="12">
          <el-form-item label="Inter Type " prop="interType">
            <el-select v-model="temp.interType" class="filter-item" placeholder="Please select">
              <el-option v-for="item in interTypeOptions" :key="item.key" :label="item.display_name" :value="item.key" />
            </el-select>
          </el-form-item>
          <el-form-item label="Partner " prop="partnerName">
            <el-autocomplete
              v-model="temp.partnerName"
              clearable
              :fetch-suggestions="querySearchAsyncPartner"
              placeholder="Please input part name"
              @select="handleSelectPartner"
            />
          </el-form-item>
          <el-form-item label="Part Type" prop="partType">
            <el-select v-model="temp.partType" class="filter-item" placeholder="Please select">
              <el-option v-for="item in partTypeOptions" :key="item.key" :label="item.display_name" :value="item.key" />
            </el-select>
          </el-form-item>
          <!-- <el-form-item label="Date Create" prop="dateCreate">
              <el-date-picker
                v-model="temp.dateCreate"
                type="date"
                placeholder="Pick a day">
              </el-date-picker>
            </el-form-item> -->
          <!-- <el-form-item label="Is Delete" prop="isDelete">
              <el-select v-model="temp.isDelete" class="filter-item" placeholder="Please select">
                <el-option v-for="item in deleteOptions" :key="item.key" :label="item.display_name" :value="item.key" />
              </el-select>
            </el-form-item> -->
          <el-form-item label="Direction" prop="direction">
            <el-select v-model="temp.direction" class="filter-item" placeholder="Please select">
              <el-option v-for="item in directionOptions" :key="item.key" :label="item.display_name" :value="item.key" />
            </el-select>
          </el-form-item>

        </el-col>
        <el-col :span="12">
          <el-form-item label="Currency " prop="currencyName">
            <el-autocomplete
              v-model="temp.currencyName"
              clearable
              :fetch-suggestions="querySearchAsyncCurrency"
              placeholder="Please input currency"
              @select="handleSelectCurrency"
            />
          </el-form-item>
          <el-form-item label="Code Price Name" prop="codePriceName">
            <el-input v-model="temp.codePriceName" />
          </el-form-item>
          <el-form-item label="Connect Type" prop="connectType">
            <el-input v-model="temp.connectType" />
          </el-form-item>
          <!-- <el-form-item label="Price Table Type" prop="priceTableType">
              <el-input v-model="temp.priceTableType" />
            </el-form-item> -->
          <el-form-item label="Upload File" prop="file">
            <input type="file" @change="onFileChange">
          </el-form-item>
        </el-col>
      </el-row>
      <hr style="margin-top: 10px; margin-bottom: 30px;">
      <span style="display: block;padding-bottom: 20px; color: green;cursor:pointer;" @click="downloadTemplate">(*) Download File Template</span>
      <span style="display: block;padding-bottom: 30px; color: red;">(*) Select the index column, the first and last index of the row data in the excel file.</span>
      <el-row :gutter="20">
        <el-col :span="8">
          <el-form-item label="Destination" prop="destination">
            <el-select
              v-model="temp.destination"
              filterable
              allow-create
              default-first-option
              placeholder="Please select"
            >
              <el-option
                v-for="item in columnOptions"
                :key="item.key"
                :label="item.display_name"
                :value="item.key"
              />
            </el-select>
          </el-form-item>
          <el-form-item label="Area Code or Numbering Plan" prop="areaCode">
            <el-select
              v-model="temp.areaCode"
              filterable
              allow-create
              default-first-option
              placeholder="Please select"
            >
              <el-option
                v-for="item in columnOptions"
                :key="item.key"
                :label="item.display_name"
                :value="item.key"
              />
            </el-select>
          </el-form-item>

        </el-col>
        <el-col :span="8">
          <el-form-item label="Rate" prop="rate">
            <el-select
              v-model="temp.rate"
              filterable
              allow-create
              default-first-option
              placeholder="Please select"
            >
              <el-option
                v-for="item in columnOptions"
                :key="item.key"
                :label="item.display_name"
                :value="item.key"
              />
            </el-select>
          </el-form-item>
          <el-form-item label="Effective or Rate Valid" prop="rateValid">
            <el-select
              v-model="temp.rateValid"
              filterable
              allow-create
              default-first-option
              placeholder="Please select"
            >
              <el-option
                v-for="item in columnOptions"
                :key="item.key"
                :label="item.display_name"
                :value="item.key"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="Row Start" prop="rowStart">
            <el-input v-model="temp.rowStart" />
          </el-form-item>
          <el-form-item label="Row End" prop="rowEnd">
            <el-input v-model="temp.rowEnd" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row :gutter="20">
        <el-col :span="4" :push="10">
          <div class="dialog-footer">
            <el-button :loading="uploading" type="primary" @click="uploadFile()">
              Import
            </el-button>
          </div>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>

<script>
import { fetchPartners } from '@/api/partner'
import { uploadFile, getTemplate } from '@/api/upload-file'
import { fetctCurrencies } from '@/api/currency'
// Import component
import Loading from 'vue-loading-overlay'
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css'

const deleteOptions = [
  { key: 1, display_name: 'True' },
  { key: 0, display_name: 'False' }
]

const directionOptions = [
  { key: 'I', display_name: 'In' },
  { key: 'O', display_name: 'Out' }
]

const interTypeOptions = [
  { key: 'VOICE', display_name: 'VOICE' },
  { key: 'SMS', display_name: 'SMS' }
]

const partTypeOptions = [
  { key: 'IDD', display_name: 'IDD' },
  { key: 'MOBILE', display_name: 'MOBILE' }
]

const columnOptions = [
  { key: '0', display_name: 'A' },
  { key: '1', display_name: 'B' },
  { key: '2', display_name: 'C' },
  { key: '3', display_name: 'D' },
  { key: '4', display_name: 'E' },
  { key: '5', display_name: 'F' },
  { key: '6', display_name: 'G' },
  { key: '7', display_name: 'H' },
  { key: '8', display_name: 'I' },
  { key: '9', display_name: 'J' },
  { key: '10', display_name: 'K' },
  { key: '11', display_name: 'L' },
  { key: '12', display_name: 'M' },
  { key: '13', display_name: 'N' },
  { key: '14', display_name: 'O' }
]

export default {
  name: 'UploadExcel',
  components: {
    Loading
  },
  data() {
    return {
      isLoading: false,
      uploading: false,
      deleteOptions,
      directionOptions,
      interTypeOptions,
      partTypeOptions,
      columnOptions,
      temp: {
        interType: undefined,
        partnerName: undefined,
        partnerId: undefined,
        partType: undefined,
        dateCreate: undefined,
        isDelete: null,
        direction: undefined,
        codePriceName: undefined,
        connectType: undefined,
        priceTableType: null,
        file: undefined,
        rowStart: undefined,
        rowEnd: undefined,
        destination: undefined,
        areaCode: undefined,
        rate: undefined,
        rateValid: undefined,
        currencyName: undefined,
        currencyId: undefined
      },
      rules: {
        interType: [
          { required: true, message: 'InterType is required', trigger: 'change' }
        ],
        partnerName: [
          { required: true, message: 'PartnerName is required', trigger: 'change' }
        ],
        direction: [
          { required: true, message: 'Direction is required', trigger: 'change' }
        ],
        codePriceName: [
          { required: true, message: 'CodePriceName is required', trigger: 'blur' }
        ],
        connectType: [
          { required: true, message: 'ConnectType is required', trigger: 'blur' }
        ],
        file: [
          { required: true, message: 'file is required', trigger: 'change' }
        ],
        rowStart: [
          { required: true, message: 'RowStart is required', trigger: 'blur' }
        ],
        rowEnd: [
          { required: true, message: 'RowEnd is required', trigger: 'blur' }
        ],
        destination: [
          { required: true, message: 'Destination is required', trigger: 'change' }
        ],
        areaCode: [
          { required: true, message: 'AreaCode is required', trigger: 'change' }
        ],
        rate: [
          { required: true, message: 'Rate is required', trigger: 'change' }
        ],
        rateValid: [
          { required: true, message: 'RateValid is required', trigger: 'change' }
        ],
        currencyName: [
          { required: true, message: 'CurrencyName is required', trigger: 'change' }
        ],
        partType: [
          { required: true, message: 'PartType is required', trigger: 'change' }
        ]
      }
    }
  },
  methods: {
    resetForm() {
      this.temp = {
        interType: undefined,
        partnerName: undefined,
        partnerId: undefined,
        partType: undefined,
        dateCreate: undefined,
        isDelete: null,
        direction: undefined,
        codePriceName: undefined,
        connectType: undefined,
        priceTableType: null,
        file: undefined,
        rowStart: undefined,
        rowEnd: undefined,
        destination: undefined,
        areaCode: undefined,
        rate: undefined,
        rateValid: undefined,
        currencyName: undefined,
        currencyId: undefined
      }
    },
    downloadTemplate() {
      getTemplate().then(response => {
        const blob = new Blob([response.data], { type: 'application/xlsx' })
        const link = document.createElement('a')
        link.href = window.URL.createObjectURL(blob)
        const name = this.partname
        link.download = 'template.xlsx'
        link.click()
      })
    },
    querySearchAsyncPartner(queryString, cb) {
      const query = {
        page: 1,
        limit: 5,
        deleted: 0,
        key: queryString
      }
      let results = []
      let listAreas = []
      fetchPartners(query).then(response => {
        listAreas = response.data.items
        results = listAreas.map(s => {
          return {
            value: s.partName,
            key: s.partnerId
          }
        })
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 100)
      })
    },
    handleSelectPartner(item) {
      console.log(item.key)
      this.temp.partnerId = item.key
    },
    querySearchAsyncCurrency(queryString, cb) {
      let results = []
      let listAreas = []
      fetctCurrencies().then(response => {
        listAreas = response.data.items
        results = listAreas.map(s => {
          return {
            value: s.currencyName,
            key: s.currencyId
          }
        })
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 100)
      })
    },
    handleSelectCurrency(item) {
      console.log(item.key)
      this.temp.currencyId = item.key
    },
    uploadFile() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.isLoading = true
          this.uploading = true
          const form = new FormData()
          form.append('fileUpload', this.temp.file)
          form.append('interType', this.temp.interType)
          form.append('partnerId', this.temp.partnerId)
          form.append('partType', this.temp.partType)
          // form.append('isDelete', this.temp.isDelete)
          form.append('direction', this.temp.direction)
          form.append('codePriceName', this.temp.codePriceName)
          form.append('connectType', this.temp.connectType)
          // form.append('priceTableType', this.temp.priceTableType)
          form.append('destination', this.temp.destination)
          form.append('areaCode', this.temp.areaCode)
          form.append('rate', this.temp.rate)
          form.append('rateValid', this.temp.rateValid)
          form.append('rowStart', this.temp.rowStart)
          form.append('rowEnd', this.temp.rowEnd)
          form.append('currencyId', this.temp.currencyId)
          uploadFile(form).then(response => {
            // this.resetForm()
            this.$refs['dataForm'].clearValidate()
            this.isLoading = false
            this.uploading = false
            this.$notify({
              title: 'Success',
              message: 'Import Successfully',
              type: 'success',
              duration: 300000
            })
          }).catch(e => {
            this.isLoading = false
            this.uploading = false
          })
        }
      })
    },
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files
      if (!files.length) { return }
      this.temp.file = files[0]
    }
  }
}
</script>
